[2016-12-14 21:19] tippenein opened #1 "Improve Documentation"
The Haddock documentation is [pretty good](https://hackage.haskell.org/package/esqueleto-2.4.3/docs/Database-Esqueleto.html) but the readme should include the most useful bits of these examples.

It should highlight `where_`, `sub_select`, `InnerJoin`, etc. It would also be nice to have input on common "gotcha's" and import practices in order to avoid overlap with Persistent (`import qualified Dat

[2016-12-14 22:01] bitemyapp commented on #1
I actually just mentioned the Persistent/Aeson overlap on Slack. That drives me crazy. I think docs are a good short-term fix since I'd like to keep changes minimal while we get caught up on everything.

[2016-12-14 23:05] tippenein opened #3 "migrate existing issues from prowdsponsor"
This [tool](https://github-issue-mover.appspot.com/) might expedite the process.

https://github.com/prowdsponsor/esqueleto/issues

[2016-12-15 01:29] bitemyapp commented on #1
I think this is resolved by the PR, but we should fork a couple issues from this. I'll reference this issue in them, file a more specific issue if something isn't covered.

[2016-12-15 01:29] #1 closed

[2016-12-15 01:30] bitemyapp opened #4 "Make examples for the README buildable"
Probably via an `examples` dir that's part of the build. Maybe worth having teeny-tiny tests/asserts so that the testing stuff doesn't overwhelm the important bits with noise.

Derived from #1

[2016-12-15 01:31] bitemyapp commented on #3
Tool seems useful but, uh

![screenshot from 2016-12-14 19-31-01](https://cloud.githubusercontent.com/assets/320177/21208483/deaac370-c233-11e6-9a75-b742936aa1e4.png)

There is not a chance in _Hell_ of me authorizing a random app to access my private repositories. I get salty as it is about CircleCI requiring it for Org access.

[2016-12-15 01:58] bitemyapp opened #5 "Pushing towards Esqueleto 2.5 release"
As stated elsewhere, this repository includes the improvements Easley made for Persistent 2.5 compatibility.

Before pushing to 2.6 compatibility, I'd like to cut a release so that people have a desert island of 2.5 compat. I'm tagging people who've registered an interest in this library to solicit requests for what they'd like to get into the upcoming release.

/cc @jb55 @jdreaver @AKurilin @danp

[2016-12-15 01:58] bitemyapp commented on #5
Also the version line-up between Esqueleto and Persistent is unintentional on my part even if Lessa was doing it on purpose before.

[2016-12-15 03:18] jdreaver commented on #5
I'm mainly concerned about compatibility with the latest versions of `persistent` and GHC 8. I think both of these have been addressed in open PRs against the old repo.

Thanks for taking this over by the way! :tada:

[2016-12-15 05:42] thomasjm commented on #5
I'm just interested in compatibility, my usage is pretty basic at the moment. I'd like to see this package on one of the Stackage GHC 8 LTS releases. Super exited you're taking it over!

[2016-12-15 22:23] bitemyapp opened #6 "Convenience function for dumping SQL"
This is a touch annoying at the moment.

Optional prettified rendering would be nice too.

[2016-12-16 05:39] ncaq commented on #5
I suffered big extra-deps, it cause long time travis ci build.
I thanks you to your great job!

[2017-01-02 09:43] ilovezfs opened #7 "base version constraint needs to be bumped"
Right now it's set at < 4.9, but the current version is `base-4.9.0.0/installed-4.9`. Is this restriction really needed still?

[2017-01-02 17:28] bitemyapp commented on #7
Good question! I'll give 'er a poke tonight unless you beat me to it.

[2017-01-02 18:02] ilovezfs commented on #7
@bitemyapp FWIW, it seems to be fine. I've adopted your fork in the Homebrew git-annex formula. All of the git-annex tests passed using your esqueleto fork + that constraint bumped. Here's the PR from earlier that has shipped (you're in production!):

https://github.com/Homebrew/homebrew-core/pull/8387/files

[2017-01-02 18:05] bitemyapp commented on #7
I think after 4.9 will be 4.10 and not 5.0 but it's entirely possible I'm wrong about that. I think they're saving 5.x for a big break.

[2017-01-06 20:10] mrkkrp commented on #5
So when can we hope for a new release on Hackage?

[2017-01-06 20:18] bitemyapp commented on #5
@mrkkrp I could do it soon, wanted to check around for any other potential changes people might want.

Seems like pseudonom's compat bump is enough.

[2017-01-06 22:14] bitemyapp commented on #5
http://hackage.haskell.org/package/esqueleto-2.5.0 is live with Persistent 2.5 compatibility. I'll be moving towards Persistent 2.6 next.

[2017-01-06 22:27] #5 closed

[2017-01-06 22:28] bitemyapp opened #8 "Persistent 2.6 compatibility"
Title. Fair warning, I don't care about Esqueleto and Persistent having matchy-matchy versioning.

[2017-01-06 22:37] mrkkrp commented on #5
Would it be possible to start keeping `CHANGELOG.md` file for the project?

[2017-01-06 22:50] bitemyapp commented on #5
@mrkkrp Going forward, sure.

[2017-01-08 15:56] mrkkrp commented on #7
Any progress on this?

[2017-01-08 15:59] mrkkrp commented on #8
When can we expect persistent-2.6-compatible release? If you don't plan to work on this right now, I can try to allow 2.6 and see what breaks, then open a PR. It'd be nice to get 2.6-compatibility by next week (16 January), I'm ready to spend some time to make it happen, although it looks like no serious changes are necessary (according to persistent changelog, it should be enough to just bump upp

[2017-01-09 07:04] peti commented on #8
What about https://github.com/prowdsponsor/esqueleto/pull/149? That patch seems to work fine.

[2017-01-10 00:10] bitemyapp commented on #8
It's possible we ate the cost of a compat break already for 2.5. I'm not sure if enolan's PR is based on the 2.5 variant I used in this repo.

I'm at a conf until the end of the week, so I can't investigate this just yet (I'd be foggy), but if someone starts kicking around a PR and tells me what breaks it'll definitely happen sooner.

[2017-01-16 06:24] #7 closed

[2017-01-16 06:24] #8 closed

[2017-01-17 15:23] qrilka commented on #8
@bitemyapp any plans of a new release with this issue resolved?

[2017-01-21 07:21] kseo opened #15 "Add esqueleto to the stackage"
Adding esqueleto to the stackage would be convenient for users.

https://github.com/fpco/stackage/#add-your-package

[2017-01-21 07:30] qrilka commented on #15
It's on stackage https://www.stackage.org/package/esqueleto but a bit outdated

[2017-01-21 17:32] bitemyapp commented on #15
I have an issue up for getting Esqueleto back in Stackage:

https://github.com/fpco/stackage/pull/2191

I need to follow up on getting this: https://github.com/bitemyapp/esqueleto/pull/12 released on Hackage and then we'll see how it shakes out.

[2017-01-21 17:33] bitemyapp commented on #15
Closing this, follow the fpco ticket if you want to watch this.

[2017-01-21 17:33] #15 closed

[2017-01-22 17:24] nd2s commented on #8
Would be good if there were a release very soon so it can finally be used with `lts-7.x`.

[2017-01-22 18:55] bitemyapp commented on #8
![screenshot from 2017-01-22 12-55-39](https://cloud.githubusercontent.com/assets/320177/22184970/1625d696-e0a2-11e6-8e8d-69883664ec22.png)

[2017-01-22 19:02] mrkkrp commented on #8
🎉 Now it can be enabled on Stackage.

[2017-01-22 19:03] nd2s commented on #8
@bitemyapp Great - many thanks!

[2017-01-22 20:28] peti commented on #8
@bitemyapp, how do you get your shell to add that little check-mark to the prompt for non-error exit codes? Is that `bash`?

[2017-01-23 18:16] bitemyapp commented on #8
@peti that's not what it does, it's a dirty check for my Git repository so that I don't forget to check things in.

My entire dev env is and always has been public: github.com/bitemyapp/dotfiles

[2017-01-27 18:58] gbordyugov opened #16 "A newbie Esqueleto question"
Dear Chris,

I'm a Haskell newbie, trying to understand the library. The thing
that currently puzzles the most is the following: How does this code:

[code]

know what table we're querying? Is it derived from the application of
`personName`? What would happen if we drop the last line, making a
full stop after `return person`? And how does this mechanism work with
joins where you've got something l

[2017-01-27 19:20] bitemyapp commented on #16
Yes.

Assuming no other context cues for it to know the type, you'd get an ambiguous type error probably. You could make the code work if you made the generic query explicitly polymorphic. Then it'd essentially be a dummy query waiting for the type to tell it what table to pull it from.

I was able to infer the type in GHCi:

[code]

From there I can assert a type for `r` to essentially generate a

[2017-01-27 19:20] #16 closed

[2017-01-27 19:23] gbordyugov commented on #16
Thanks a lot for the detailed reply!

[2017-01-27 20:06] creichert commented on #3
I don't know the exact setting, but I can enable tools like this w/o authorizing my private repos:

![elasticache1](https://cloud.githubusercontent.com/assets/526560/22385771/b6d6b4d4-e499-11e6-828a-fcf165ca75e6.png)

[2017-01-27 20:07] creichert commented on #3
I also had other private repos with a green check mark already so there is a setting somewhere :). May or may not be helpful.

[2017-01-27 21:07] bitemyapp commented on #3
@creichert pre-auth'd orgs are green-checked and I can't explicitly disinclude them.

I have privileged access to code that doesn't belong to me (not just my employer's) and I cannot/will-not use a tool that requires access to that third party code.

[2017-02-01 02:30] ChrisCoffey opened #17 "Extend the Postgres module with `@>` and `&&` Array operators"
It would be great to add support for some of the most common PSQL array operations, contains & overlap.

I'm happy to submit the PR if you think Esqueleto's `PostgreSQL` module is a good place for them.

[2017-02-06 15:50] olynch opened #19 "Add support for INTERSECT, UNION, UNION ALL and EXCEPT operators"
The SQL standard has support for adding together the results of various SELECT statements by computing their union, intersection or difference. As far as I can tell, esqueleto doesn't have parts in its DSL to support this. I am not familiar enough with the source to write a patch myself, but if I end up getting something working in my app I will comment again with how I managed to do it.

[2017-02-13 08:43] ford-prefect opened #21 "Add support for SELECT FOR UPDATE"
It would be nice to have support for `SELECT FOR UPDATE` to be able to be able to implement atomic updates. as listed at https://www.postgresql.org/docs/9.0/static/sql-select.html#SQL-FOR-UPDATE-SHARE

[2017-02-13 08:51] ford-prefect commented on #21
The way this is done in MySQL and PostgreSQL at least seems to be different, so this might need to be DB-specific.

[2017-02-13 08:56] ford-prefect commented on #21
Whoops, should've read the documentation better. Just saw `locking`.

[2017-02-13 08:56] #21 closed

[2017-02-18 02:53] freckletonj opened #22 "Common Table Expressions: ex WITH ... AS ... RETURNING ..."
Feature request!

https://www.postgresql.org/docs/current/static/queries-with.html#QUERIES-WITH-MODIFYING

My first use case I ran into was when I wanted to maintain separate Login and User tables. Login has a foreign key to User, and when I create a new Login, it needs a User to exist first, and it would be nice to issue these in one transaction.

I'd love to commit a PR when I'm better at Haskel

[2017-02-18 04:23] bitemyapp commented on #22
@freckletonj that sounds a lot more complicated than running a single transaction.

http://www.yesodweb.com/book/persistent

ctrl-f "single transaction"

[2017-02-18 04:24] bitemyapp commented on #22
Closing, unlikely to do this without a good reason put forward.

[2017-02-18 04:24] #22 closed

[2017-02-19 16:31] Ulrar opened #23 "Could not find module ‘Database.Esqueleto’"
Hi,

I'm using Persistent already in my Yesod project and it works fine.
I need to do a DISTINCT so I'm trying to use Esqueleto, but I always end up with

I don't remember ever having that problem in previous projects using it.
Any idea what I am missing ? I've tried adding esqueleto to the cabal file but that's not apparently valid.

Thanks

[2017-02-19 19:16] bitemyapp commented on #23
I can't help you unless you post a repro.

[2017-02-19 19:18] bitemyapp commented on #23
Closing as I don't have any reason to believe the library is at fault here.

[2017-02-19 19:18] #23 closed

[2017-04-08 09:44] lierdakil opened #25 "Running into non-exhaustive pattern match with groupBy"
[code]

As far as I can tell, this happens when I use `EntityId` in `groupBy` where primary key is defined as `Primary key` instead of `Id`.

[2017-04-08 19:15] bitemyapp commented on #25
I've only just given this a look, but if you mean the custom Persistent keys as opposed to the default `Id` then it could be related to: https://github.com/prowdsponsor/esqueleto/issues/87

Otherwise it could just be an absent explicit composite key error.

I'm stuck in an airport right now. I'll do a more thorough peek around when I am home. If you have more information please share it here.

[2017-04-10 14:02] lierdakil commented on #25
Here we go.

Boilerplate:
[code]

So, this works pretty much as one would expect:
[code]

returns

[code]

Now let's try to apply a `group` statement here:
[code]

here I get
[code]

Okay. But avoiding `PersonId` in `groupBy` again works as expected:

[code]

yields

[code]

Does this make sense? Intuitively, I would expect `PersonId` to be roughly equivalent to `PersonName`, since, well, albeit t

[2017-04-10 14:23] lierdakil commented on #25
P.S. You may notice that https://github.com/prowdsponsor/esqueleto/pull/88 didn't update `makeGroupBy`, while it did update `makeHaving`, `makeWhere` and `makeOrderBy`

[2017-04-16 07:46] silky opened #27 "tried to use `date_trunc` in postgres, but it messes up UTC times"
i wrote the following

[code]

but it seems to lose some kind of UTC magic.

if i use this, then in postgres  times like `2017-04-16 16:37:32.090688+10` become `2017-04-16 00:00:00+10` and when i bring them down to haskell and format them with, say, `formatTime defaultTimeLocale "%Y-%m-%d"` then i get "2017-04-15"

however, it i simply don't use my `truncateDate` function, then the exact same pipe

[2017-04-18 13:07] Philonous commented on #27
Could this simply be a timezone problem? Note that `2017-04-16 00:00:00+10` is `2017-04-15 14:00:00+0` (UTC), whereas `2017-04-16 16:37:32.090688+10` is `2017-04-16 02:37:32.090688+0` (UTC)

[2017-04-25 16:14] alebon commented on #25
Same issue here :/

[2017-05-05 02:54] bitemyapp commented on #25
@lierdakil @alebon Friends, Russians, countrymen...lend me your ears. I have [a PR over yonder](https://github.com/bitemyapp/esqueleto/pull/28). If you could confirm that this fixes the issue for you, I'd be very grateful.

Tho', I'm already grateful because you made this bug a lot easier to suss out. Thank you!

[2017-05-25 16:51] bitemyapp commented on #25
No reply so I am going forward with this, hopefully it sorts you out.

[2017-06-21 14:21] dashea opened #29 "Is there a way to reuse a query executed via selectSource?"
I'm having an issue using `selectSource` (sqlite backend). Since unlike `select` the SQL statement is still running instead of the results being all pulled into memory, the stmtReset finalizer isn't being called. Reusing the `Source` results in a ErrorMisuse from sqlite, even if I use it in separate conduits, since the statement is only prepared once and there is no `sqlite3_reset` call between th

[2017-06-21 16:19] bitemyapp commented on #29
I'm investigating the issue here: https://github.com/bitemyapp/esqueleto-select-source-error-misuse

I found a workaround that sidesteps the problem with the `misuse` error you get from Sqlite but the problem as it stands is that `selectSource` is mis-implemented and unsafe with Sqlite. With PostgreSQL and MySQL it actually loads all the data into memory.

Accordingly I recommend you _not_ use `se

[2017-06-21 16:58] bitemyapp commented on #29
@parsonsmatt that's promising, although I'm still concerned about how `persistent-mysql` and `persistent-postgresql` work here.

[2017-06-22 14:14] dashea commented on #29
Works with 2.5.3, thanks.

[2017-06-22 14:14] #29 closed

[2017-07-07 19:54] bitemyapp commented on #4
https://github.com/bitemyapp/bloodhound/tree/master/examples is a good example to riff off of.

[2017-07-07 19:55] alexeyzab commented on #4
Hi there!

I would like to add this as one of the issues for the upcoming [Haskell Weekly's](https://github.com/haskellweekly/haskellweekly.github.io) Call for Participation section. See discussion in [#75](https://github.com/haskellweekly/haskellweekly.github.io/issues/75).

These are the guidelines we'd like to stick to in the future:
* Ensure that your project has at least one open-source licen

[2017-07-07 19:59] bitemyapp commented on #4
https://github.com/bitemyapp/esqueleto/blob/master/LICENSE is BSD3

Yep, hi.

Labels are a good idea for this, I'll make them now.

I've never formalized this, if you have an example/starter document I'll take a look at it and see if it fits. At a minimum I should probably mention that any work done on one version of the API should be done on the other version whenever possible.

[2017-07-07 20:03] bitemyapp opened #31 "Build on existing Esqueleto grammar with db-specific functionality"
Specifically, stuff that only PostgreSQL and MySQL have.

[2017-07-07 20:04] alexeyzab commented on #4
I think Rust's Hyper has a thorough [CONTRIBUTING.md](https://github.com/hyperium/hyper/blob/master/CONTRIBUTING.md) with several requirements. If that seems like an overkill, Rocket has  a [section in the README.md](https://github.com/SergioBenitez/Rocket#contributing) describing how to contribute.

[2017-07-07 20:04] bitemyapp commented on #4
I've also added a new label "needs-discussion": https://github.com/bitemyapp/esqueleto/issues/31

This is for anything that has unresolved design questions, so a PR out of the blue would be riskier for that.

[2017-07-13 07:26] mb21 opened #32 "Make subqueries more flexible (e.g. allow to join on subquery)"
As I've [asked on Stackoverflow](https://stackoverflow.com/questions/45057213/esqueleto-join-on-subquery-using-sublist-select):

I'm trying to translate the following SQL to Esqueleto:

	SELECT id, task_id, author_id
	FROM scenario
	INNER JOIN ( SELECT task_id as tId, author_id as aId, MAX(last_update) as lastUp
	    	     FROM scenario
		         GROUP BY task_id, author_id
		       ) t
	      ON

[2017-07-13 07:28] mb21 commented on #32
I guess I can use the following which should be semantically identical (inspired by [this answer](https://stackoverflow.com/a/123481/214446)):

    $ select
    $ from $ \( s `LeftOuterJoin` ms ) -> do
            on ( just (s ^. ScenarioAuthorId)  ==. ms ?. ScenarioAuthorId &&.
                 just (s ^. ScenarioTaskId)    ==. ms ?. ScenarioTaskId   &&.
                 just (s ^. ScenarioLastUp

[2017-07-13 23:39] bitemyapp opened #33 "Accommodate database specific behavior in Esqueleto"
Made the branch splitsqueleto for this.

https://github.com/prowdsponsor/esqueleto/issues/32 is a good example of the problem. Because of the way SqlExpr is structured, I don't think I can even fix this with an unsafe function without adding a new constructor to SqlExpr. I'd rather fix this properly anyway.

My options, as I see them are:

1. Move out of Esqueleto any operation which isn't uniform

[2017-07-14 00:19] bitemyapp commented on #33
Solid question from @cdparks

I don't think I can drum all these up at once, so I'm not going to commit to a one-time change. The expectation is that people will _always_ be using a database specific constraint and so the strengthening of a constraint should not matter.

I'll break out the options a little more modularly:

1. Database-specific typeclasses extending Esqueleto
2. Database-specific S

[2017-07-15 13:07] ricksanchez opened #34 "Add: BETWEEN"
What is your opinion about adding BETWEEN ... AND ...?
I find this feature useful while writing SQL, but esqueleto lacks it.

[2017-07-15 14:56] bitemyapp commented on #34
I'd need to know more about it, which databases support this?

[2017-07-15 19:21] ricksanchez commented on #34
well, at least postgres, oracle, sql server and even mysql, probably it is a part of an old sql standard ( I cannot find a reference in the sql 92)

[2017-07-15 21:20] ricksanchez opened #35 "Reexport From in Database.Esqueleto"
I found very useful to use something like
[code]
and this needs a type signature because it is at the top level, right now I have to import the `Database.Esqueleto.Internal.Language` and that is a bit too awful.

This enables me to keep DRY more code.
Could this be useful for other people as well?

[2017-07-17 08:22] FintanH commented on #4
Creating an examples section on my fork https://github.com/FintanH/esqueleto/tree/examples/examples. Needs some work to align it with the bloodhound style examples

[2017-07-18 23:27] parsonsmatt opened #36 "Natural keys are totally broken"
A natural key is a primary key on an attribute of a model that is assumed to be unique. A composite key is a key consisting of multiple columns. Persistent does not have a way to define a natural `Primary` key -- these are assumed to be composite keys.

Reported in [`persistent`](https://github.com/yesodweb/persistent/issues/685) as well.

Given this entity definition:

[code]

calling `hasComposi

[2017-07-18 23:35] parsonsmatt commented on #36
[This is the function that is triggering the error](https://github.com/bitemyapp/esqueleto/blob/master/src/Database/Esqueleto/Internal/Sql.hs#L639-L663). The error that is rendered is:

[code]

It determines to use `ECompositeKey` in [the definition of[`(^.)`](https://github.com/bitemyapp/esqueleto/blob/master/src/Database/Esqueleto/Internal/Sql.hs#L423-L432).

It may be possible to fix this by co

[2017-07-18 23:49] parsonsmatt opened #37 "Specific error types"
When `esqueleto` errors, it `error`s. It seems like a very nice quick fix would be to purely throw a real exception type with context rather than stringly typed errors.

[2017-07-21 03:22] iand675 opened #38 "Consider adding now() as a SqlExpr"
I'm not sure if this is PostgreSQL-specific or if `now` is used in other databases, but it's handy for setting updated_at fields and so forth:

[code]

[2017-07-23 18:17] tippenein opened #39 "use deleteCascade/deleteCascadeWhere with esqueleto?"
Porting this issue from the [old repo](https://github.com/prowdsponsor/esqueleto/issues/147)

See https://stackoverflow.com/questions/38999557/is-it-possible-to-use-deletecascade-with-esqueleto?noredirect=1#comment65358492_38999557

Is there a way to use deleteCascade/deleteCascadeWhere with esqueleto?

[2017-07-23 18:30] bitemyapp commented on #39
There's nothing in place for it, but it could be added I think.

[2017-07-23 19:43] tippenein commented on #39
Like mentioned in the SO comments, `PersistentImport.hs` includes `deleteCascade` but not `deleteCascadeWhere`
https://github.com/bitemyapp/esqueleto/blob/master/src/Database/Esqueleto/Internal/PersistentImport.hs#L10

This is how I would expect to interact with it in esqueleto:
[code]

[2017-07-24 14:34] bitemyapp commented on #39
@tippenein `deleteCascade` just takes a key and generations a DB action that does a cascading delete. Esqueleto would need to make a custom action that looks something like:

[code]

I'm open to it, but I rarely delete (let alone cascading delete) in production so I'm not going to go out of my way for it for now.

[2017-07-25 16:25] #4 closed

[2017-07-25 17:16] bitemyapp commented on #35
Slightly orthogonal but have you tried https://github.com/frontrowed/dovetail for simple joins at all?

[2017-07-25 17:43] bitemyapp opened #41 "Purge the CPP in the test suite"
Split into separate test suites, share whatever's common to all of them.

[2017-07-25 18:53] bitemyapp commented on #35
It's in `HEAD` now.

[2017-07-25 21:06] ricksanchez commented on #35
Thank you for exporitng it.
I was not aware of that project. I will take a look.

[2017-07-25 21:20] #35 closed

[2017-07-25 22:01] FintanH commented on #37
I did a search for `error` in this repository but I could only see one case of it happening in code. Is it being propagated from Persistent, or am I missing something here?

[2017-07-25 22:12] bitemyapp commented on #36
`HEAD` has this rectified now, thank you!

[2017-07-25 22:12] #36 closed

[2017-07-25 22:16] bitemyapp commented on #37
[code]

is an example of something that was previously partial (I just fixed an issue in it in the `mysql-rand` branch)

It uses `err` but it was previously implicitly spitting a bottom.

The problem with purging `error` is that `SqlExpr` isn't a `Monad` and doesn't really have a way to express "error". `SqlQuery` could possibly have an `ExceptT` slapped on top but that's a lot of annoying, ugly w

[2017-07-25 22:23] FintanH commented on #37
Fair enough, maybe I'll check back in on taking it up if no one else has at a later point.

[2017-07-25 22:24] parsonsmatt commented on #37
I see it on a bunch of places:

[code]

(note that `unexpectedCompositeKeyError` is calling `error`)

For the scope of this ticket, I'd honestly just expect to see `error` replaced with `Control.Exception.throw :: Exception e => e -> a` along with a sufficiently reasonable `EsqueletoProblem` type.

[2017-07-25 22:26] bitemyapp commented on #37
@parsonsmatt oh I see, you don't mind if it's not `m a`, in that case, should be fine @FintanH

[2017-07-25 22:47] FintanH commented on #37
Alright @bitemyapp I'll take a look around when I get more time and if I can do it I'll assign myself 😄

[2017-07-30 13:39] FintanH commented on #37
@parsonsmatt @bitemyapp I gave this a crack and wanted to get your input on the code. Is this what you were mentioning above?
Error type here: https://github.com/FintanH/esqueleto/blob/errors/src/Database/Esqueleto/Internal/Sql.hs#L80-L85

Example use here:
https://github.com/FintanH/esqueleto/blob/errors/src/Database/Esqueleto/Internal/Sql.hs#L1095-L1099

[2017-07-30 14:47] bitemyapp commented on #37
@FintanH ignore what I said before.

Looks good so far, some suggested modifications (you don't have to do this, I can do this after your PR if you like):

EsqueletoProblem -> EsqueletoError

I know the original code used strings, but I would lift those into a sum type so that people can pattern-match on whether it was due to a Not clause or whatever and know whether they've handled all errors. I

[2017-07-30 15:04] FintanH commented on #37
@bitemyapp Sounds good to me. No worries, I'll work on it and do a PR. Just to clarify, should I add more enumerations to account for each case?

e.g.
https://github.com/FintanH/esqueleto/blob/errors/src/Database/Esqueleto/Internal/Sql.hs#L256
would be: NewIdentForError

https://github.com/FintanH/esqueleto/blob/errors/src/Database/Esqueleto/Internal/Sql.hs#L466
would be: CompositeKeyErrorNot

[2017-07-30 15:15] bitemyapp commented on #37
@FintanH Sounds fine, although I can't be sure what'll work most nicely for the structure of the error type. I meant for a nested structure, CompositeKey that takes an argument of another sum type, so the inhabitants of the CompositeKey argument type don't need to mention composite key, etc.

[2017-07-30 15:17] FintanH commented on #37
@bitemyapp Makes sense! Cool I'll work on it :)

[2017-07-31 15:49] #37 closed

[2017-07-31 15:56] jfischoff opened #44 "Support UPDATE ... RETURNING"
At least with [postgres](https://www.postgresql.org/docs/current/static/sql-update.html), one can add a `RETURNING` clause to an `UPDATE` query. The type in `esqueleto` does not support returning data from [`update`](https://hackage.haskell.org/package/esqueleto-2.5.3/docs/Database-Esqueleto.html#v:update)

[2017-08-02 12:46] FintanH commented on #38
I'm looking at how this is done via other SQL functions located in `src/Database/Esqueleto/Internal/Sql.hs`

So I can see there are type constraints that stop the user from picking silly types for the `Value` for e.g.
[code]

I was wondering is there a typeclass that would encapsulate the same idea for Time as `Num` is doing in the above?

[2017-08-02 14:50] FintanH commented on #38
I have one solution that looks like:
`now_ :: (PersistField a, a ~ UTCTime) => expr (Value a)`

Thoughts on this?

[2017-08-02 15:23] bitemyapp commented on #38
Is there a reason `now :: SqlExpr (Database.Esqueleto.Value UTCTime)` wouldn't work?

[2017-08-02 15:33] FintanH commented on #38
I was adding it as `now_` to the `Esqueleto` class and it `expr` isn't made concrete to `SqlExpr` at that point

[2017-08-02 15:35] FintanH commented on #38
You can compare the changes here: https://github.com/FintanH/esqueleto/tree/now

[2017-08-02 15:51] bitemyapp commented on #38
@FintanH Adding it to the class is a more serious change than adding it as a separate helper function. I don't think this works uniformly on SQLite, MySQL, and PostgreSQL. There are some compatibility issues already (my fight with `rand_/random_` is a good example) but I don't want to compound the problem.

Taking a glance, here's what I got on PostgreSQL:

[code]

Then MySQL:

[code]

SQLite didn

[2017-08-02 16:13] mmzx commented on #38
Just a possible shortcut which has not been mentioned in the thread yet regarding sqlite:
select datetime('now'); 2017-08-02 16:10:47
Best, mAkos

[2017-08-04 14:51] bitemyapp commented on #38
@iand675 could please you let me know if this sorts you out? https://github.com/bitemyapp/esqueleto/pull/46

[2017-08-04 23:35] iand675 commented on #38
It looks like it should!

[2017-08-04 23:35] #38 closed

[2017-08-04 23:47] iand675 opened #47 "Support INNER LATER JOINs for PostgreSQL"
This is sort of tangentially related to #32, but the way that Esqueleto does pattern matching magic for JOINs precludes implementing inner lateral joins in the same way since they take an associated query. Here's a kind of pared down sample query that is not currently expressible:

[code]

[2017-08-08 21:36] FintanH commented on #41
You can assign this bad boy to me 👍

[2017-08-08 22:00] bitemyapp commented on #41
@FintanH won't let me. Try assigning yourself?

![screenshot from 2017-08-08 17-00-14](https://user-images.githubusercontent.com/320177/29096552-0eaa6a08-7c5b-11e7-9afd-58f53d3a0c38.png)

[2017-08-08 22:11] FintanH commented on #41
I can't see any option for me to assign :/ Meh, I'll just work on it. I STAKE MY CLAIM HERE 😄

[2017-08-08 22:39] bitemyapp commented on #41
@FintanH added you as a collaborator, accept and check again?

[2017-08-19 16:19] bitemyapp opened #49 "Bad (not reverse of model introduction) JOIN order causes runtime error"
This needs to be documented so that we understand precisely what causes it and what can be done to fix it.

[2017-08-19 16:20] bitemyapp opened #50 "Problems with Esqueleto"
# Research

Need to mine https://github.com/prowdsponsor/esqueleto for more problems.

- #49

[2017-08-19 16:21] bitemyapp commented on #50
@FintanH this is the parent ticket. I'm particularly concerned with any source of runtime errors (partiality).

[2017-08-30 00:11] parsonsmatt opened #51 "Allow index hinting"
We've run into a production performance problem where MySQL is too dumb to pick up on using an index that increases perf by 100x.

The bad query is morally:

[code]

Where `bar.x` is indexed. The fix is:

[code]

Since Esqueleto can't do this, the entire query needs to be rewritten in raw SQL.

[2017-09-03 20:22] FintanH commented on #49
I found the author explaining why the reverse order is needed in the documentation in `Language.hs`.

I'm trying to tease out why this breaks with his example, looking at the types, but maybe you can spot the reason quicker than I can.

[2017-09-20 17:54] mpodlasin commented on #19
I would be very interesed in this. How hard would it be to implement for someone who is not familiar with the source? Are there any good/similar enough operators to follow when writing an implementation?

[2017-09-21 15:01] qrilka commented on #49
While porting significant amount of queries (BTW @bitemyapp you've seen many of them I think :) )  from `mysql-simple` to `persistent` + `esqeleto` this have bitten me a bit - it just gives SQL error, not even exception from the library.
@FintanH it breaks because joins and "on" conditions get mismatched, i.e. condition from `query1` gets used for `LeftOuterJoin` between `mbaz` and `quux` while it

[2017-10-07 21:06] jkachmar opened #54 "sum_ causes a runtime type error"
Original issue filed here: https://github.com/prowdsponsor/esqueleto/issues/148

Updated repro here: https://github.com/jkachmar/esqueleto-sum-err

Error message:
[code]

Copying the original issue text:

This seems like a good candidate for #50

[2017-10-07 22:50] jkachmar opened #55 "mixing up order of orderBy clause passes typechecking, produces bad sql"
Original issue filed here: https://github.com/prowdsponsor/esqueleto/issues/142

Updated repro here: https://github.com/jkachmar/esqueleto-orderby-err

Error message:
[code]
Seems relevant to #50

[2017-10-08 15:09] FintanH commented on #19
@bitemyapp I guess this is relevant to https://github.com/bitemyapp/esqueleto/issues/50 as well

[2017-10-08 15:15] FintanH opened #56 "upsert/upsertBy Support"
Had to fall back to Persistent when using `upsertBy`. I believe `upsertBy` was imported from esqueleto but I had to use the following to type check:

[code]

where I'd imagine the syntax being:

[code]

[2017-10-08 15:22] FintanH opened #57 "esqueleto issue from old repo: `in_` and `notIn` on multiple columns"
https://github.com/prowdsponsor/esqueleto/issues/129 looks like a candidate for https://github.com/bitemyapp/esqueleto/issues/50

[2017-10-09 16:09] jkachmar opened #58 "Support PostgreSQL's LISTEN/NOTIFY Commands"
Per the discussion in Slack, it would be great to extend Esqueleto with support for these commands.

Support in Esqueleto would enable us to easily use Postgres for pub/sub and make, among other things, safer versions of libs like [postgresql-queue](https://github.com/jfischoff/postgresql-queue).

cf. #50

[2017-10-11 16:19] tippenein opened #59 "Join causes syntax error on WHERE"
When joining on a clause with an `AND`  this syntax error can be generated.

Repro here: https://github.com/tippenein/esqueleto-join-error

`esqueleto-join-error: sqlErrorMsg = "syntax error at or near \"WHERE\""`

[code]

[2017-10-11 17:03] bitemyapp commented on #59
[code]

[2017-10-11 17:40] bitemyapp commented on #59
Looks like you (@tippenein) figured out it was a variant of the join order bug: https://github.com/tippenein/esqueleto-join-error/blob/master/src/Main.hs#L43-L48

[2017-10-11 17:40] bitemyapp commented on #59
Leaving this up but it's not going to get fixed in the current design.

[2017-10-17 16:55] bigs opened #61 "Add helper for projecting nullable fields"
hey!

not sure if this is wanted, but in a project i'm working on i had need to construct expressions with values that could be null, guarding against their nullity with a `WHERE` clause. i've forked the project and contributed the functions to the `Esqueleto` class. if there's any interest in having this merge upstream, i'll add some tests and make a pr! thoughts?

[2017-10-31 18:14] felixSchl commented on #36
Are you sure this is fixed? After updating the only that changed in my case is the error message: `SqlBinOpCompositeErr DeconstructionError`.

[2017-10-31 18:49] bitemyapp commented on #36
Not in the slightest. By all means introducing a breaking test in a PR if you have one.

I've mostly planned on keeping the lights on on Esqueleto until I can carve out time for a rewrite with https://github.com/bitemyapp/bluetick

I'll fix and merge whatever I can meanwhile, though.

[2017-10-31 21:14] felixSchl commented on #36
Alright I will prepare such a PR. On a side note, have you detailed your reasons for attempting a rewrite somewhere? I find Esqueleto quite pleasant to work with as it gives me the best of both words: type safety and good control over my queries. It also has a lightweight DSL and is easy on the types as opposed to some other libraries. And it integrates with persistent, and the list goes on. It wi

[2017-10-31 21:25] bitemyapp commented on #36
@felixSchl I'm not sure why you think a rewrite would give any of that up. The point is to make it more reliable, purge the partiality from the API, make it simpler, and make it more maintainable. I don't want to change much else.

[2017-10-31 21:33] felixSchl commented on #36
That's awesome :) I guess I was thinking that because it's not even called Esqueleto anymore. Wouldn't it be strange to have two packages export the same module and function names? Anyway, I was just curious, really.

I was looking at using bloodhound for a project I am currently working on but haven't had the chance to yet, unfortunately.

[2017-10-31 21:44] bitemyapp commented on #36
I'll try to make it as similar to Esqueleto as I can, but I don't hold out a ton of hope that I can make it a zero-code-change migration.

[2017-11-09 17:27] eborden opened #63 "Cannot express runtime casts"
I've run in to a number of situations where I actually want to explicitly `cast` data in `sql`. The current casting model is just type level casting and has no runtime effects. To combat this I have a casting implementation loosly based on Idris' casting model.

[code]

Currently using these impls, but a library proper implementation would probably need to be more explicit than `Num n => PostgresC

[2017-11-09 17:47] bitemyapp commented on #63
I'm open to adding this with a touch more rigor as you suggest.

Fair warning: Active cycles will be going into https://github.com/bitemyapp/bluetick which I am hoping can be a suitable migration target for Esqueleto users like y'all. Speaking of, if you have design/bug requests that aren't tractable in Esqueleto-as-it-exists-now please file them on the bluetick repository!

[2017-11-09 18:27] eborden commented on #63
Oh also note the `forall` ordering in `cast :: forall b a.` for `TypeApplications` goodness: `cast @Double someNum`.

I'll take a look at `bluetick` tomorrow morning and throw some feedback.

[2017-11-09 18:30] bitemyapp commented on #63
@eborden it's just empty for now but the plan is to do a grammar/datatype-first approach like Bloodhound. If possible I'll keep the original API w/ refinements and better type-safety but we'll see how it shakes out. Parent ticket for some of the issues on my mind: https://github.com/bitemyapp/esqueleto/issues/50

That's a nice touch for the type application!

[2018-01-12 10:59] eugenk opened #67 "Documentation for toBaseId broken"
The documentation at https://hackage.haskell.org/package/esqueleto-2.5.3/docs/Database-Esqueleto.html#v:toBaseId seems to be broken.
When I try to have a schema like
[code]
then I get the compile-time error
[code]
Using persistent (2.7.1) and esqueleto (2.5.3) with GHC 8.0.2 from stack lts-9.17 on macOS 10.13.2.

[2018-01-26 18:56] paf31 opened #68 "stringAgg can return null, but the type doesn't indicate that"
The type of `stringAgg` is

[code]

which can be specialized to `Text`, but selecting `string_agg(foo, bar)` from an empty record set `foo` results in `NULL`. I noticed the other aggregations return `Maybe`, forcing the user to deal with this explicitly. Should `stringAgg` do the same?

[2018-01-26 19:13] bitemyapp commented on #68
PostgreSQL right? I'd say this merits a patch harmonizing it with the other aggregations, ideally with a test that breaks the current version.

[2018-01-26 19:38] qrilka commented on #68
Imo this behavior is from SQL itself, i.e. not DB-specific

[2018-01-30 14:13] Vlix opened #70 "Selecting from sub query? (might not be an issue?)"
I'm trying to use the window functions I've recently implemented in my own fork of Esqueleto, which at some point I'd want to try and make a pull request for Esqueleto proper, but I'm trying to do some custom queries with it, and I'm running into a limitation. (Or I'm dumb and don't realize this is totally doable in current Esqueleto)

I'm trying to construct this query:
[code]

I've managed to im

[2018-01-30 21:36] bitemyapp commented on #70
Can you do it as a `sub_select`? I'd need to dig in with working code to say or do much further.

[2018-01-30 22:06] Vlix commented on #70
So this is what I've tried, but I get the resulting error shown below, so `sub_select` can't do this, or I'm using it incorrectly?

(This is the type signature of `over`, by the way)
[code]

[code]
[code]

[2018-01-30 22:42] Vlix commented on #70
The description for `sub_select` also states:
[code]
But I explicitly need the `id` row instead of the `row_number` row.

[2018-02-02 17:44] bitemyapp commented on #61
I've merged https://github.com/bitemyapp/esqueleto/pull/62

I'm interested in the class you're suggesting if you'd still like to upstream that.

[2018-02-02 17:44] #61 closed

[2018-02-14 11:23] jonkri opened #71 "`where` constraint with a `ValueList` from an entity?"
I have probably missed something simple, but I can't see how I can make a `where` constraint with a `ValueList` from an entity, like this:

    E.where_ (E.val SomeValue `E.notIn` (someEntity E.^. SomeArray))

I would like to match `SomeValue` against a an array (`character varying[]`).

The compilation error looks like this (where `SomeValue` is of the type `ArrayValueType`):

    Expected type:

[2018-02-14 11:33] FintanH commented on #71
It looks like the type of `valList` is `E.Value [ArrayValueType]`. You'd need to to turn that into a `ValueList` probably by using something like [valList](https://hackage.haskell.org/package/esqueleto-2.5.3/docs/Database-Esqueleto.html#v:valList) possibly combined with something else.

I'd be able to help more if you had a minimal repro of the example, otherwise I hope that helps! :)

[2018-02-14 13:16] jonkri commented on #71
My schema looks like...

    SomeEntity
        someValue [ArrayValueType]

... where `ArrayValueType` is a union type.

I guess my confusion lies in how to use produce a context where `valList` can be used on the array field of the entity.

Thank you!

[2018-02-24 01:25] paf31 opened #72 "Sub-select inside aggregate results in bad SQL"
If you try something like

[code]

you will get the invalid SQL

[code]

In SQL, we might be able to solve this by writing

[code]

instead (I'm not sure if this always works), but if you're generating terms programmatically, it's possible to run into this case.

[2018-02-28 01:33] bitemyapp opened #73 "`update` seemingly isn't compatible with `SqlWriteT`"
First step is to add some tests exercising the different DB monads with specific capabilities (read, write, all) in the test suite. Ideally there should be tests demonstrating:

- ~`SqlWriteT` fails for a database action performing a select (use the hspec "can fail to typecheck" helper)~ Write might be inclusive of read? I hadn't looked too closely at this stuff before. Thanks @jkachmar
- `SqlRead

[2018-03-01 07:05] bitemyapp commented on #73
Follow-up: `run` functions should have types like:

`ReaderT SqlReadBackend IO a -> IO a`

`SqlReadT` and SqlWriteT` seem intended for upstream library functions. I could be wrong, but that's what it seemed like from experimentation.

[2018-03-08 19:33] #68 closed

[2018-03-09 19:22] peti opened #77 "esqueleto-2.5.3 does not compile with GHC 8.4.1"
The error is:

[code]

[2018-03-14 02:16] thomasjm opened #78 "Bump version bounds to be compatible with `persistent-2.8.x`"
I'd love to switch to the new Stackage LTS-11.0, but Esqueleto isn't there because it's incompatible with the new `persistent`. An upgrade would be much appreciated. See also https://github.com/fpco/stackage/issues/3255

[2018-03-14 04:58] bitemyapp commented on #78
Me too! I'd like to sort out compatibility with read-write roles first. This includes tests ensuring the correct things type-check and the correct things do _not_ type-check, such as an attribution of a read-only type to an insert, delete, or update.

To that end, I've already been working on this! See this branch here: https://github.com/bitemyapp/esqueleto/tree/bitemyapp/validate-read-write-role

[2018-03-18 21:54] tysonzero opened #79 "sub_select is not properly parenthesized under some conditions"
Specifically the following fails with `syntax error at or near "SELECT"`, because the inner sub_select is not properly enclosed in parenthesis.

aggrPrevDate :: MonadIO m => ReaderT SqlBackend m ()
aggrPrevDate = insertSelect . from $ \date -> do
    groupBy $ date ^. DateDate
    orderBy [asc $ date^. DateDate]
    pure $ PrevDate <# (date^. DateDate) <&> sub_select (getPrevDate date)
  where

[2018-03-20 18:21] peti opened #80 "Support for persistent-2.8.1?"
Current versions of Stackage have updated to version 2.8.x of the persistent library. Would it be possible to get a new release that supports those newer versions?

[2018-03-20 18:34] bitemyapp commented on #80
Cf. https://github.com/bitemyapp/esqueleto/issues/78

It's possible, but my priority is on fixing the type-safety issues.

[2018-03-21 05:16] tysonzero opened #81 "Provide a clean way to build arbitrarily large `groupBy`'s"
It's not uncommon to need to group on a fairly large number of things, and it's annoying to have things stop building suddenly when you create too big of a tuple, which you then have to start nesting.

I suggest a pair of combinators, one of which that has type `expr (Value a) -> expr (Value a) -> SomeValues` and another that has type `expr (Value a) -> SomeValues -> SomeValues` (where `SomeValues

[2018-03-23 03:56] tysonzero opened #82 "Calling `sum_` on an `Int` column and trying to use the result as an `Int` leads to a marshal error"
It appears that (at least in Postgresql), summing a list of `int`s gives back a `numeric`. So when you call `sum_` from esqueleto on an `Int` column and use the result as an `Int` you get a persist marshal error. IMO this should probably be solved on esqueleto's end, by either inserting an explicit cast or by restricting the return type of `sum_` to ones which will not raise a marshal error.

[2018-03-23 14:42] bitemyapp commented on #82
The type this should have could vary by database. This is very annoying, sorry for the hassle!

[2018-03-23 18:51] tysonzero commented on #82
@bitemyapp Can you think of any way to approach this to prevent this from happening? It would be really nice if Esqueleto could statically prevent all marshalling errors at compile time.

One idea I can think of is by having `expr` be parameterized by the database type, `expr db`, but have basically every function not touch it, such as `not_ :: expr db (Value Bool) -> expr db (Value Bool)`, then f

[2018-03-23 19:30] bitemyapp commented on #82
That's mostly not possible with the way Esqueleto is currently structured. I have a placeholder project for a rewrite at https://github.com/bitemyapp/bluetick but until I get time carved out I can only keep the lights on here.

I actually tried to create different SqlExpr types and Esqueleto instances for each database for different but related reasons and it didn't go well.

[2018-03-23 21:13] tysonzero commented on #82
Yeah it would be a pretty drastic and structural change, and I'm sure it will have it's own downsides, for example I think building queries that work on multiple db's might lead to really large type signatures, as constraints would be added for any non-universal thing you do.

Perhaps for now explicit casts could be used for `sum_`?

[2018-03-23 21:42] bitemyapp commented on #82
I need to see what you're proposing and how it would affect PostgreSQL, MySQL, and SQLite users.

[2018-03-23 22:02] tysonzero commented on #82
What I am proposing is that for queries that are less constrained like `sum_`, an explicit cast is added to the type you end up using it as. So if you use the result of `sum_` as an `Int`, the generated SQL includes a cast to the SQL type equivalent to a Haskell `Int`.

As far as I am aware this should work in strictly more situations than without a cast.

[2018-04-09 22:07] paf31 opened #85 "Nested `from` calls generate bad SQL"
E.g. `select . from $ \x -> from $ \y -> ...` is type-correct, but generates invalid SQL.

[2018-04-10 09:34] tysonzero opened #86 "Support `replaceSelect`"
It would be nice to be able to use `insertSelect` but where rows with overlapping unique constraints were replaced.

[2018-04-10 22:02] tysonzero commented on #82
Could perhaps a `cast` function be created so you can explicitly `cast` whenever you want? It seems like `floor_` doesn't fix this issue either, so for now I'll just change the Haskell type I Marshall the number into, and then do the conversion on the Haskell side, unless there is a better workaround.

[2018-04-10 22:48] tysonzero commented on #79
Any update on this / any workarounds?

[2018-04-11 02:10] bitemyapp commented on #79
Patches warmly welcomed!

[2018-04-11 05:33] tysonzero commented on #79
I can try and look into it whenever I next have some free time. It's just going to take me a long time to understand the internals of esqueleto, so I was hoping it would be a quick fix for someone who already understood the library.

[2018-04-18 01:29] clinty commented on #80
Any commit in particular?

[2018-04-18 01:39] bitemyapp commented on #80
@clinty I didn't have one in particular in mind, did latest on `master` not work?

[2018-04-18 12:03] clinty commented on #80
It seems to work.

[2018-04-19 01:33] ChrisCoffey commented on #78
I could use this as well & may take a stab at it in the next week or two. Is your read/write roles branch the best place to get an overview of your progress?

[2018-04-19 01:38] bitemyapp commented on #78
@ChrisCoffey that plus possibly also this https://github.com/bitemyapp/esqueleto/pull/83

Executive summary IMO is: abandon the `should-not-typecheck` library as the behavior it relies on is flaky. Rewrite as a shell script that ensures the exit code and error look approximately okay.

Please keep me posted even if it's to say you're pulling off of it. Thank you!

[2018-04-21 16:03] tysonzero commented on #79
@bitemyapp I'm not realistically going to have time to learn this library well enough to fix this bug anytime soon, so I guess just classify this as a wontfix until a maintainer is able to fix it.

[2018-04-29 09:11] agreif opened #87 "esqueleto usage with stack"
esqueleto ist not in stackage any more (LTS 11.x current)
The last time is was included was LTS 9.21

What is the best way to include the current esqueleto in stack projects?
Or when will a current esqueleto again appear in stackage?

Thanks

[2018-04-29 10:48] erikd opened #88 "Build with ghc 8.4?"
Esqueleto version 2.5.3 doesn't build with ghc 8.4, due to `Semigroup` becoming a superclass of `Monoid`:
[code]

[2018-05-01 06:48] ncaq commented on #87
see #78 #80

[2018-05-01 16:26] bitemyapp commented on #87
Summarizing #78 and #80: pin a SHA1 for now.

[2018-05-02 11:37] k-bx commented on #88
@erikd put this in your `extra-deps` section of `stack.yaml`:

[code]

@bitemyapp a hackage release would be much appreciated

[2018-05-02 15:18] bitemyapp commented on #88
@k-bx it's not ready for release. Stated elsewhere that I wanted it to conform in a type-safe way with the Read/Write roles in Persistent. That work and the associated tests are not done yet.

[2018-05-07 04:23] parsonsmatt opened #89 "Document release requirements"
We're very close to having a new Esqueleto release that's compatible with Stackage. There are some items left to be done.

- [ ] Replace the `should-not-typecheck` tests with a script that attempts to compile various failing test-case files and that asserts that GHC returned an error.
- [ ] ? anything else?

[2018-05-07 04:47] bitemyapp commented on #89
Reads and writes should work in a write-okay transaction, writes should not type-check in a read transaction.

Nothing else that I can think of.

[2018-05-08 06:48] bitemyapp commented on #89
Cf. https://github.com/bitemyapp/esqueleto/tree/bitemyapp/validate-read-write-roles

[2018-05-17 22:03] bitemyapp commented on #89
https://travis-ci.org/bitemyapp/esqueleto/builds/377557919 is green, so I think I just need to sweep for any more equivalents to `update`, `delete`, and `select` which need a more particular type.

[2018-05-23 15:45] bitemyapp opened #90 "countRows does not work with distinct"
https://github.com/prowdsponsor/esqueleto/issues/157

[2018-05-29 08:31] jaccokrijnen opened #91 "Typechecked Insertion combinators generate invalid query"
This code compiles:

[code]

But generates an invalid query:

[code]

Changing it like this works:

[code]
which generates

[code]

[2018-05-30 14:59] bitemyapp commented on #88
@ilovezfs I need to add some tests but the foundation of what I needed to do is there. I'll make sure I incorporate GHC 8.4 compat into the next release.

[2018-06-13 12:24] hce opened #92 "Add to stackage?"
Hi,

Could we add this awesome package to stackage?

If you haven't got time, I'd be willing to take care of it.

HOWTO: https://github.com/commercialhaskell/stackage/blob/master/MAINTAINERS.md#adding-a-package

BR
 HC

[2018-06-13 13:05] hce commented on #92
Okay, sorry, I just noticed there is a similar ticket, and the reason esqueleto is currently not on stackage is due to some dependency problems. I'm thus closing this ticket.

[2018-06-13 13:05] #92 closed

[2018-06-16 03:21] saurabhnanda opened #93 "Missing docs for SQL functions"
If I'm not missing something completely obvious, the core tutorial at https://www.stackage.org/haddock/lts-10.10/esqueleto-2.5.3/Database-Esqueleto.html doesn't really teach how to use SQL functions/expressions, such as `date`, `random`, `now`, `substr`, etc.

Coupled with the fact that the modules `Database.Esqueleto.SQLite` and `Database.Esqueleto.MySQL` don't show up in the package contents, I

[2018-06-17 17:27] bitemyapp commented on #93
@saurabhnanda those modules are provisional workarounds, they're not intended to grow any more than necessary. I wanted a way to deal with the `random()`/`rand()` split. Anything that works in common across PostgreSQL, MySQL, and SQLite can go into the main module, only particularities or things that vary between should go into the database specific modules.

Does that fit what you had in mind for

[2018-07-06 22:38] krisis opened #95 "stack test esqueleto:postgresql requires mysql_config"
### Expected behaviour
esqueleto tests for postgresql backend shouldn't require mysql_config.

### Work around
Installed `mysql-server` and `libmysqlclient-dev` on Ubuntu to get around this issue.

### Steps to reproduce
1. I tried running tests specific to postgresql backend (as in README.md) like,
`stack test --flag esqueleto:postgresql`. I got the following error.
[code]

So, I removed the `--f

[2018-07-10 12:03] peti commented on #78
Ping? I wonder what the state of this PR is?

[2018-07-10 12:04] peti commented on #80
Will there be a new version that fixes this issue?

[2018-07-10 12:09] ilovezfs commented on #88
any update here on when the next release may be?

[2018-07-10 17:53] ChrisCoffey commented on #78
Unfortunately I never got around to cleaning up the read-write role tests, nor does it look like I'll be able to anytime soon.

[2018-07-10 17:55] clinty commented on #78
Then perhaps blocking the release for that isn't the best.

[2018-07-10 18:01] bitemyapp commented on #78
@ChrisCoffey I'd kicked that around since then, I just haven't had a lot of free time for moving toward a release soon and nobody else has picked the ball up either.

I cut releases when I believe they're release-ready. You can [use a SHA1 package](https://github.com/lorepub/moot/blob/master/stack.yaml#L5-L8) in a `stack.yaml` until then if you don't care about that.

This is the tracking branch I

[2018-07-17 22:12] FintanH opened #97 "Examples: Materialized Views"
Flesh out materialized views started on `bitemyapp/materialized-view-example`

[2018-08-01 22:09] mattaudesse opened #101 "Fixing #100 allows travis tests to run but now failures aren't reported"
You can see what I mean [here](https://travis-ci.org/bitemyapp/esqueleto/jobs/411010644#L1064):

[code]

Pertains to #100.

[2018-08-03 12:35] mattaudesse commented on #101
I just reread this and realized it might've been confusingly worded...

Obviously the failures are reported if you manually check the logs for them, but what I meant was that _travis doesn't seem to consider them error states_:

![README badge](https://user-images.githubusercontent.com/3409214/43642974-908bd450-96f7-11e8-8dd7-e3d710c9fe5c.png)

![Build HUD](https://user-images.githubusercontent.co

[2018-08-10 18:23] paf31 opened #102 "Add UnsafeSqlFunctionArgument () instance"
This seems like it ought to be simple, right? Is there any reason I shouldn't add this?

[2018-08-16 10:16] jezen commented on #93
I don't think it's worth me opening a new issue for this, but I'd like to chime in by saying I also ran into the need for the unsafe functions recently, as I needed to use the `earth_box` and `ll_to_earth` functions for a georadius query.

Here's what I came up with:

[code]

[2018-08-19 16:32] EugineKosenko opened #103 "Examples for some fundamental queries are necessary"
What is the most simple translation of the next SQL-queries to Esqueleto?

select count(*) from foo;

select title, sum(weight), "test" from foo group by title;

select f.title, count(*)
from foo f, bar b
where f.id = b.parent
group by f.title;

I hope these samples are simple enough to understand the data schema.

[2018-08-19 19:49] bitemyapp commented on #103
There's a couple examples in http://hackage.haskell.org/package/esqueleto-2.5.3/docs/Database-Esqueleto.html

You can see how to use `sum_` in the test suite.

https://github.com/bitemyapp/esqueleto/search?q=sum_&unscoped_q=sum_

One of the main examples of `countRows` in the docs is also a `groupBy`.

[2018-08-19 19:49] #103 closed

[2018-08-20 10:44] EugineKosenko commented on #103
I'm sorry, but for the very first sample the code is not so obvious. Let's consider the next variant

select $
from $ \foo -> do
return countRows

This code causes type ambiguity, and we must give to compile an advice, which table we use in this case. For now I've experimentally found the next trick:

select $
from $ \foo -> do
orderBy [asc (foo ^. FooBar)]
return countRows

In this case compiler

[2018-08-20 10:51] FintanH commented on #103
@EugineKosenko Would it not be sufficient to use `TypeApplications`?

I think something like:
[code]

[2018-08-20 11:47] FintanH commented on #103
Ah sorry, I was wrong here. It might have to be more like:
[code]

I'll try reproduce using the example. I was mostly postulating in my suggestion :)

[2018-08-20 11:55] EugineKosenko commented on #103
It's pity, the error message is the same:
[code]
I thought, the proper code would be

[code]

However, it also causes an error:

[code]

[2018-08-20 12:01] EugineKosenko commented on #103
As for my third sample, I have the next real case:

[code]

The first snippet is compiled and works, but the second causes the error:

[code]
Once I'd resolved the problem with the "orderBy" workaround, but now it doesn't work again...

[2018-08-20 12:19] FintanH commented on #103
@EugineKosenko Found the correct annotation for you:

[code]

`from`'s type is `from :: From query expr backend a => (a -> query b) -> query b` so I thought at first that the `a` there should be `Topic`, but it turns out it was actually supposed to be `SqlExpr (Entity Topic)`. fwiw, I found this out by finding the `count` used here https://hackage.haskell.org/package/esqueleto-2.5.3/docs/Database-

[2018-08-20 12:27] EugineKosenko commented on #103
Great! Thank you for the help!

Can you help me with groupBy in my second case? I suspect, the proper solution in that case will be the same, because I'd fixed it once with the same workaround. I'll try, but you help may increase my investigations.

Thanks in advance!

[2018-08-20 12:33] FintanH commented on #103
Unfortunately in the second case the compiler is having a hard time finding out what the `Num a` should be for the result of `countRows`. So one way is to pull this out into a top level function or, as I did, type annotate during the printing:

[code]

[2018-08-20 12:40] EugineKosenko commented on #103
Ok, it works too. I suspected something like this, but you showed me the shortest solution.

I have no more questions. Big thanks!

[2018-08-20 12:43] FintanH commented on #103
Happy to help :)

[2018-08-25 00:57] thomasjm commented on #78
Question, is this read-write role stuff a new feature or a fix to the existing version? If it's the former, I think it would be better to cut the compatibility release you mentioned above. Esqueleto is absent from Stackage `lts-11` and `lts-12` now, and it's the main thing keeping me from upgrading.

This goes especially if it's a relatively simple matter to get an `lts-11` or `lts-12` compatible

[2018-09-05 04:05] jprider63 commented on #70
Did you get this working @Vlix? Could you share your `over` function?

[2018-09-05 18:39] jprider63 commented on #70
Great thanks! I'll try to get subqueries working once you make the pull request.

[2018-10-02 03:33] thomasjm commented on #78
@bitemyapp friendly ping on the above question :)

[2018-10-02 05:39] bitemyapp commented on #78
It's a fix to already released functionality.

[2018-10-13 06:52] jprider63 commented on #70
I ended up implementing `over` [here](https://github.com/jprider63/esqueleto/commit/259119d28fe66c09fd743100a9473d2a364ff77b#diff-c695f551a7ff1d68efde111150ca873bR1832). It works for me. I haven't tried subqueries or adding it to the language yet.

[2018-10-15 19:23] tysonzero opened #104 "Hackage release to match nixpkgs release"
It looks like nixpkgs points to version 2.6.0 of esqueleto after [this](https://github.com/NixOS/nixpkgs/commit/dcd037c14aabfa879a92eb15556dd7208f8ed50a) commit, even though it is not on hackage. This isn't a huge deal but it makes me think that it's probably worth releasing a new Hackage version soon.

[2018-10-15 19:38] bitemyapp commented on #104
Soon as the SqlReadT/SqlWriteT/etc. stuff is fixed and there's a test suite ensuring we don't have a safety regression like that again I'll cut a release.

[2018-10-18 16:37] CaptJakk opened #105 "Get esqueleto back into Stackage (LTS 11 or 12)"
I love this library and would love to be able to use it with newer versions of GHC and associated libraries, last I checked we needed to make some updates to this to get it there. I'm opening this issue thread to document the process of getting it updated. This does not by any means require input, although input from existing maintainers is very welcome and encouraged.

[2018-10-18 17:02] bitemyapp commented on #105
Cf.

- https://github.com/bitemyapp/esqueleto/issues/104#issuecomment-429986072
- https://github.com/bitemyapp/esqueleto/issues/89
- https://github.com/bitemyapp/esqueleto/issues/88#issuecomment-393195660
- https://github.com/bitemyapp/esqueleto/issues/80

You can pin a SHA1 for now. If you fix it to work with newer a GHC or Persistent version, please PR it.

I won't push a release to Hackage with

[2018-10-18 17:03] CaptJakk commented on #105
Yeah we currently pin the sha1 in production, but I think it'd still be nice to get back into hackage/stackage. I'll see if I can beef up the correctness/testing, and would love to get some input on the PR. Do you have an idea of what you would like to see? or just "better"?

[2018-10-18 17:09] bitemyapp commented on #105
@CaptJakk Did you look at this issue https://github.com/bitemyapp/esqueleto/issues/89 ?

It's everything related to the read/write roles. They weren't correct before and there need to be tests validating that stuff fails properly. I got a head start on it in the branch but I don't believe it's complete or that the whole API has the appropriate annotations.

When it's complete I can test the librar

[2018-10-18 17:11] CaptJakk commented on #105
Cool, I'll take a look at that.

[2018-11-02 21:45] jprider63 commented on #70
I've been playing with subqueries a bit. I think we need something along the lines of the following function and a `From query expr backend (expr (Value val))` instance.

[code]

Then we could do something along the lines of:

[code]

I'm not sure how to implement `select_subquery` yet. I noticed that it looks like `bind` and it actually compiles with the following, even though it produces the wro

[2018-11-05 17:58] joeyh commented on #105
Does it really make sense to tie together a new correctness requirement with supporting the newer haskell ecosystem? Is there any actual connection between the two?

For perspective, I've just gotten a patch from a linux distribution to make my program build using persistent alone, rather than esquelito, because this is causing them sufficient pain it was worth developing that.

[2018-11-09 18:39] MaxGabriel commented on #49
I know this isn't getting fixed in the current design, but has anyone come up with any workaround or way to programmatically check this by any chance? It's been the cause of two bugs for us

[2018-11-10 14:54] bitemyapp commented on #49
@MaxGabriel The closest thing to a workaround would be [dovetail](https://github.com/frontrowed/dovetail) but I am pretty sure Front Row Ed no longer uses it.

Otherwise, I need time to work on [bluetick](https://github.com/bitemyapp/bluetick).

[2018-11-14 20:58] jprider63 commented on #70
@Vlix I have [basic subqueries working](https://github.com/jprider63/esqueleto/blob/18b933532aee3cac98583a77501b1458acbbaceb/src/Database/Esqueleto/Internal/Sql.hs#L2001). Subqueries can currently return entities and values by using the `as` function. It's still rough, and I haven't tried other expressions like composite keys, lists, etc. Ideally this can be extended so that you can have joins wit

[2018-11-15 03:27] tysonzero opened #107 "`ilike` and `like` precedence seem overly low"
The current precedence makes it so you cannot chain it with `&&.` or `||.` without extra parenthesis. It also doesn't fit with the SQL precedence and I'm not aware of any other reasons for the current precedence.

[2018-12-18 21:03] parsonsmatt commented on #105
@joeyh The idea is to not release broken code. It doesn't *really* support the new Haskell ecosystem if it doesn't actually work :)

If folks have existence-proofs that the `master` branch works on their project, we'd love to see them!

[2018-12-18 21:30] parsonsmatt commented on #95
Thanks for reporting! I think this issue has been fixed in the meantime. I don't get this behavior when building on the latest `master`.

[2018-12-18 21:31] #95 closed

[2018-12-18 21:32] parsonsmatt commented on #104
I'm going to close this as a duplicate of #89 and the PR #109

[2018-12-18 21:32] #104 closed

[2018-12-18 21:33] parsonsmatt commented on #88
Closing as duplicate of #89 and #109

[2018-12-18 21:33] #88 closed

[2018-12-18 21:34] parsonsmatt commented on #78
Closing as duplicate of #89 and #109

[2018-12-18 21:34] #78 closed

[2018-12-18 21:35] parsonsmatt commented on #80
Closing as duplicate of #89 and #109

[2018-12-18 21:35] #80 closed

[2018-12-18 21:35] parsonsmatt commented on #77
Closing as duplicate of #89 and #109

[2018-12-18 21:35] #77 closed

[2018-12-18 21:36] paf31 commented on #102
I want to be able to use `unsafeSqlFunction` to give names to existing 0-argument functions.

[2018-12-18 21:36] parsonsmatt commented on #105
Closing as duplicate of #89 and #109

[2018-12-18 21:36] #105 closed

[2018-12-18 21:37] parsonsmatt commented on #97
If you'd like to get a PR together then we can track discussion in that instead :)

[2018-12-18 21:39] parsonsmatt commented on #93
Using `unsafeSqlFunction` is something that's somewhat common to do -- you need to use it for *any* custom-SQL functions you've defined, and for anything that the specific database supports that other databases don't.

A PR that added documentation for this purpose would be great!

[2018-12-18 21:42] parsonsmatt commented on #86
This is -- unfortunately -- database specific. MySQL and Postgres have different syntax for this functionality. So we'd need to gate that behind the `.MySQL` and `.Postgresql` modules.

[2018-12-18 21:46] parsonsmatt commented on #51
This is unfortunately pretty difficult to do as it has different syntax on every single database that I've seen.

[2018-12-18 22:04] parsonsmatt commented on #102
That makes perfect sense. I'd be a bit concerned about possible interference with `()` being used as an actual value, but that seems really unlikely. A special type `data NoArgs = NoArgs` is a tiny bit more explicit and would definitely not have any interaction, at the cost of uglier syntax.

[2018-12-19 17:38] bitemyapp commented on #102
That'd be my preference.

[2018-12-21 18:51] ibarrae commented on #34
I would like to take this issue if that's ok @parsonsmatt

[2018-12-21 18:56] parsonsmatt commented on #34
heck yeah! Go for it @ibarrae :) Please post any questions you have.

[2018-12-29 01:36] brandon-leapyear opened #110 "Building haddock for ghc-8.4+ is broken"
[code]

This is broken both in `lts-12.24` and `lts-13.0`. It's probably a haddock bug, but I can't figure out why it's happening.

I suspect it has something to do with selectively exporting functions from [`Esqueleto`](https://github.com/bitemyapp/esqueleto/blob/master/src/Database/Esqueleto.hs#L41), but I don't know for sure.

[2018-12-29 02:55] brandon-leapyear commented on #110
I added debug code and got:
[code]
So this could be a bug in haddock/persistent

[2019-01-03 00:46] bitemyapp commented on #110
I don't think this is in our wheelhouse. I'm closing for now, re-open if I misunderstood or you learn something new.

[2019-01-03 01:59] parsonsmatt commented on #110
unfortunately I believe this will block putting `esqueleto` back on Stackage. I'm reopening

[2019-01-24 20:01] parsonsmatt commented on #89
[`esqueleto-2.6.0`](https://hackage.haskell.org/package/esqueleto) was released recently and is going to be in the next stackage LTS I believe.

[2019-01-24 20:56] legrostdg commented on #89
In this case, if I understand the blog post https://www.stackage.org/blog/2018/12/announce-lts-13 well, esqueleto could even go into the current lts (lts-13.x).

[2019-03-05 11:07] snoyberg opened #115 "Build failure with persistent 2.9"
[code]

[2019-03-05 11:37] FintanH commented on #110
Is this causing the docs to not appear on Hackage? http://hackage.haskell.org/package/esqueleto-2.6.1/docs/Database-Esqueleto.html

![image](https://user-images.githubusercontent.com/3503528/53802936-16d21d80-3f3b-11e9-935a-c342ce767061.png)

[2019-03-05 15:43] parsonsmatt commented on #110
hmmm, I thought that this was going to be fixed by #114.

[2019-03-05 16:24] parsonsmatt opened #116 "Implement better CI"
Our current CI script is less featureful than the ones provided by either the Stackage documentation or the `haskell-ci` platform. This has allowed build failures to sneak through that should not.

[2019-03-05 17:24] bitemyapp commented on #115
@snoyberg Is this from spinning out https://github.com/yesodweb/persistent/tree/master/persistent-qq ? I only vaguely recall the story here.

[2019-03-05 17:28] parsonsmatt commented on #115
Yeah, that's it. I'm going to do a Hackage revision establishing an upper bound as a quickfix, and I plan on adding some CI improvements which will catch this in the future.

I think we should *not* reexport `persistent-qq` functions, for the same reason it was removed. I believe this is technically a breaking change, which would require a 2.7.0 release.

[2019-03-05 18:15] snoyberg commented on #115
Yes, exactly

On Tue, Mar 5, 2019, 7:37 PM Chris Allen <notifications@github.com> wrote:

[2019-03-05 21:07] #115 closed

[2019-03-07 15:40] parsonsmatt commented on #110
Docs are up for the latest veresion of esqueleto.

To get docs for previous versions, it's necessary to build Haddock from source from the commit with the patch. It was never released. I went down a bit of a rabbit hole and decided against pursuing docs for 2.6.1 as 2.7.0 is up.

[2019-03-07 15:40] #110 closed

[2019-03-08 06:25] friedbrice commented on #110
I just noticed the problem using stack resolver lts-13.1, (GHC 8.6.3, Haddock 2.22.0, Esqueleto 2.6)

[code]

Is there a way to locally build docs for 2.6?

[2019-03-11 02:01] andrewthad opened #118 "Cabal file on github has lower version than hackage release"
This is very confusing. Is `master` not the main branch or did someone cut a release without pushing the code to github?

[2019-03-11 16:04] #118 closed

[2019-03-11 16:04] parsonsmatt commented on #118
We primarily use the `package.yaml` file for managing dependencies. The `.cabal` file is generated from that. It evidently wasn't updated in the commit that made it to `master`. This is fixed. Thanks!

[2019-04-16 23:31] parsonsmatt opened #121 "Postgres JSON joining"
If you've got non-trivial JSON in your codebase, it is common to want to `JOIN` against it.

[code]

This isn't currently possible with `esqueleto` as far as I can tell.

[2019-04-16 23:42] parsonsmatt commented on #121
[code]

With an operator like `(|->) :: SqlExpr Aeson.Value -> SqlExpr (Value Text) -> SqlExpr Aeson.Value`, that gives a signature like:

[code]

and would need to generate SQL like:

[code]

[2019-04-17 02:41] bitemyapp commented on #121
@parsonsmatt just wondering off-hand, not as evaluation criteria for the feature: how fast is that?

[2019-04-17 05:00] parsonsmatt commented on #121
I don't have anything to test/measure/compare it against. I suspect that it is not as fast as a properly normalized database would be with real joins.

[2019-04-18 20:17] parsonsmatt commented on #91
This is tricky. We want to restrict the LHS argument to the *unsaturated* constructor. Right now, these operators are typed as:

[code]

To have this guarantee, we'd need a way of saying whether or not a constructor was totally unapplied. Something like..

[code]

Then, for your example, we'd have this instance:

[code]

Then, when we do `(<#) @Table2`, we'd get the following type:

[code]

This i

[2019-04-20 00:00] #34 closed

[2019-05-16 19:18] parsonsmatt opened #124 "Common Table Expressions"
It'd be *really* nice to have CTE support in Esqueleto.

[code]

[2019-06-17 20:45] parsonsmatt commented on #79
Opened #126 with a failing test case.

[2019-06-17 21:25] parsonsmatt commented on #79
In the interim, we're solving this in our work codebase with:

[code]

[2019-07-30 03:04] parsonsmatt opened #129 "Allow creation of a VIEW from an Esqueleto query"
One thing that'd be particularly nice to have is a means to create a `VIEW` from an `esqueleto` query.

I've used `VIEW`s in a few workplaces before, and the pattern went:

1. Define a `views.persistentmodels` file with all the `VIEW`s in it.
2. Have a SQL file that actually created/defined the views.
3. Regular `persistent` and `esqueleto` queries against the `VIEW` work just fine (though `UPDATE

[2019-08-07 00:48] parsonsmatt opened #130 "Comparison operators ignore nullability"
The operators for comparing two sqlexpr values always return bool. However if the operands are nullable, the proper result type is maybe bool.

[2019-08-08 23:08] tysonzero opened #131 "Esqueleto-compatible upsert"
Currently `upsert` is re-exported from Persistent, and it takes in a list of Persistent `Update` values, which is awkward to use alongside esqueleto as the type and operator names collide with Esqueleto's `Update`.

This means if you are using Esqueleto and want to do an upsert, you are going to need to either use qualified imports, or use multiple queries.

It would be nice if esqueleto instead d

[2019-08-18 05:52] akilegaspi opened #132 "Question: Why don't we have a Gitter?"
Given the circumstances that this channel may not always be active and that the documentation may need to be updated.

I think that a Gitter channel for `esqueleto` would be very beneficial for new people using the library and that it would "possibly" be a faster channel to answer questions than having to post an issue here.

[2019-08-19 00:30] bitemyapp commented on #132
Because I didn't have a reasonable expectation that I or others would have time to deal with synchronous communication. For my part, I got married yesterday and I will be hiding in the mountains for 2-3 weeks.

I really strongly prefer asynchronous communication (GitHub comments, email threads) for OSS work regardless.

[2019-08-19 00:57] parsonsmatt commented on #132
People are always welcome to post a question *of any kind* on this GitHub repo - I will be happy to help out.

If you want more of a chatroom, I'm also frequently on the `#haskell` and `#haskell-beginners` channels on the FPChat slack ([invite link here](https://fpchat-invite.herokuapp.com/)). Many folks there use the library and can help and you can ping me directly as well.

[2019-08-28 09:52] Vlix commented on #121
Is this now possible with `esqueleto-3.1.0`?

[2019-08-28 18:27] mossprescott opened #134 "Arithmetic operators don't represent SQL overloading"
In SQL (Postgres, at least), arithmetic operators such `+`, `-`, `*`, and `/` are overloaded for date/time types. for example, the expression `timestamp '2001-09-29 03:00' - timestamp '2001-09-27 12:00` results in `interval '1 day 15:00:00'` (see https://www.postgresql.org/docs/9.2/interactive/functions-datetime.html).

However, Esqueleto defines `(-.)  :: PersistField a => SqlExpr (Value a) -> Sq

[2019-08-30 22:53] ibarrae opened #135 "Throw errors at compile time instead of runtime"
In the module `Database.Esqueleto.Internal.Internal` it throws `CompositeKeyError` and `SqlBinOpCompositeError` when forming queries. I was wondering if it would be possible/makes sense to throw errors with [TypeError](https://hackage.haskell.org/package/base-4.12.0.0/docs/src/GHC.TypeLits.html#TypeError)? I think that would be great to save some time and don't wait for executing a real query on t

[2019-09-02 20:55] bitemyapp commented on #135
@ibarrae it's probably more involved than you're imagining at the moment. `TypeError` is something you incorporate into constraint solving, be it a type family or a type class instance. You can't turn an arbitrary pattern match at runtime into a `TypeError` so far as I'm aware.

Getting rid of the partiality in Esqueleto is one of my long-term design goals, but I don't think there's a piecemeal so

[2019-09-02 22:18] ibarrae commented on #135
Thanks for the clarification @bitemyapp :tada:

[2019-09-02 22:18] #135 closed

[2019-09-03 23:17] erikd opened #136 "Counting rows in a table without a `where_` clause"
I would like to count the rows in a table. With an older version of Esqeleto` I used to be able to do:
[code]
but now that gives me a error:
[code]
I can't added the `From X` constraint to the function then the function that calls that has to satisfy the constraint.

Is there a nice easy way around this?

[2019-09-03 23:19] erikd commented on #136
I can satisfy the constraint by using a dumb and obvious:
[code]
but that feels rather unsatisfying.

[2019-09-03 23:26] parsonsmatt commented on #136
I think you need `_ :: SqlExpr (Entity X)` instead of `_ :: X`.

[2019-09-03 23:29] erikd commented on #136
Thanks @parsonsmat! That fixed it.

[2019-09-03 23:29] #136 closed

[2019-09-03 23:50] parsonsmatt commented on #132
I'm going to close this out. If someone wants to maintain a gitter channel and is maintainer-level familiar with the library, I'd be happy to have one, but it would appear that the current maintainers don't have bandwidth to watch that channel.

[2019-09-03 23:50] #132 closed

[2019-09-20 01:13] JoseD92 opened #140 "Fix esqueleto CI failing on 'psql: could not connect to server'"
Current CI scripts is crashing with 'psql: could not connect to server', see https://travis-ci.org/bitemyapp/esqueleto/jobs/586528375 for example.

[2019-09-20 02:10] JoseD92 commented on #140
I push a [MR](https://github.com/bitemyapp/esqueleto/pull/141) fixing this issue

[2019-09-20 14:13] #140 closed

[2019-09-20 14:14] bitemyapp commented on #116
@parsonsmatt could you provide links for each please?

[2019-09-21 00:06] JoseD92 commented on #67
change it to:
[code]
and it should work

[2019-09-21 14:57] bitemyapp commented on #67
@JoseD92 Could you make a PR to change it to simply `bar` if that doesn't cause issues in your test harness please?

[2019-09-23 19:35] JoseD92 commented on #67
after looking more into this problem I found out that TH has some problem when using BarId on the id, if separate into a separate migration like:

[code]

changes the problem to `BarId’ is used in a top-level splice, quasi-quote, or annotation, and must be imported, not defined locally`, doing what the errors says and separating the migrations into different files:

[code]

[code]

And now you can

[2019-09-23 21:06] JoseD92 opened #142 "Examples fail to compile"
After running `stack init` and then `stack build`, building process fails to compile with:

[code]

[2019-09-23 22:51] bitemyapp commented on #142
I think I resolved this.

[2019-09-23 22:51] #142 closed

[2019-09-24 14:41] bitemyapp commented on #131
I think this is a duplicate of #56.

[2019-09-24 15:12] #6 closed

[2019-09-24 15:46] Vlix commented on #134
The `-` operator is used for tons of types in PostgreSQL.
All sorts of time types, geometric types, json, network addresses, etc.
These are not SQL-wide, but very PostgreSQL specific, so it'd make more sense for the
`(-) :: Num a => SqlExpr (Value a) -> SqlExpr (Value a) -> SqlExpr (Value a)`
to be the standard one, and any specific implementation that has more, can be put in seperate modules.

[2019-10-10 15:08] parsonsmatt opened #150 "*OuterJoin constructors should enforce nullability"
We're running into a few bugs at work now where someone did:

[code]

and we get `PersistMarshallException` trying to parse the `null` value out. These should be enforced to be a `Maybe`.

[2019-10-15 18:23] #67 closed

[2019-10-15 18:24] #41 closed

[2019-10-16 16:01] parsonsmatt opened #151 "RFC: `sub_select` should have a nullable result type by default"
tl;dr: `sub_select` should have the type `sub_select :: SqlQuery (SqlExpr (Value a)) -> SqlExpr (Value (Maybe a))`.

We use `sub_select` extensively in the work codebase, and it is a common source of runtime errors. The general pattern is this:

[code]

`sub_select` has the type `sub_select :: SqlQuery (SqlExpr (Value a)) -> SqlExpr (Value a)`. Because the result type is `Value a`, the relevant ma

[2019-10-16 16:07] bitemyapp commented on #151
It'll break a lot of existing code, probably, but this sounds like the right thing to do to me.

[2019-10-21 06:29] tysonzero opened #154 "`insertMany` does not work on tables that only have an "id" column"
It generates the following:

[code]

And the empty `()` is unfortunately not valid PostgreSQL.

[2019-10-21 14:30] parsonsmatt commented on #154
`insertMany` should be coming from `persistent`, not `esqueleto`.  Please reopen there. Thanks for reporting!

[2019-10-21 14:30] #154 closed

[2019-10-22 05:44] JoseD92 commented on #86
Based on this comments I came with a solution for postgres in a function named `insertSelectWithConflict`, firm `(MonadIO m, PersistEntity val) => Unique val -> SqlQuery (SqlExpr (Insertion val))  -> (SqlExpr (Entity val) -> SqlExpr (Entity val) -> [SqlExpr (Update val)]) -> SqlWriteT m ()`, it works similar to `insertSelect` but allows solving conflicts on a single constraint when doing `insertSe

[2019-10-23 01:32] parsonsmatt commented on #49
I'm exploring this to see if there's something that can be done to fix this up.

First, let's look at the offending function, `on`:

[code]

The definition of `SqlQuery`:

[code]

The `SideData` type is a collection of monoids that are `<>`ed together to construct the complete SQL query. One of those monoids is the `sdFromClause :: [FromClause]` type. The `on` function accepts a `Bool`-valued expr

[2019-10-23 02:21] parsonsmatt commented on #49
# Part Two

Let's look at how the `sdFromClause :: [FromClause]` get built. The pattern is to write:

[code]

This is called with `on` and `fromFinish`.
`fromFinish` is called a bunch in composition with `fromPreprocess`, in instance slike:

[code]

`fromPreprocess` is a class method:

[code]

Well, we should probably look at `fromStart` at some point. But for right now, I'm going to focus on the

[2019-10-23 16:48] parsonsmatt commented on #151
I've implemented #153 in the work codebase. It's made a *lot* of code safer and unearthed a few potential bugs, while also reducing boilerplate.

Given the deprecation message with the helpful warning, I think it shouldn't be too terribly onerous of a migration path and upgrade.

[2019-10-28 16:30] parsonsmatt commented on #131
I believe this will be fixed by #155

[2019-10-28 18:27] bitemyapp commented on #116
I believe the idea is to riff off of: https://raw.githubusercontent.com/commercialhaskell/stack/stable/doc/travis-complex.yml

[2019-10-28 23:26] #151 closed

[2019-10-29 14:44] parsonsmatt commented on #102
I've backtracked on this, actually - it makes more sense to have the "no argument" type be `()` in symmetry with all the other tuple-only instances.

[2019-10-29 16:03] #102 closed, assigned to nobody

[2019-10-29 17:50] parsonsmatt opened #160 "3.2.0 `on` clauses don't work on nested joins"
Test case:

[code]

Leftmost nesting works fine, but the others don't.

[2019-10-31 20:38] #160 closed

[2019-11-21 22:11] hdgarrood opened #162 "Add UnsafeSqlFunctionArgument instances for bigger tuples?"
At the moment, the `UnsafeSqlFunctionArgument` instances only support sql functions of up to 4 arguments. However, there are functions you might want to call which accept more than 4 arguments. For example: postgres' `make_interval`, which takes 7 (documented at https://www.postgresql.org/docs/10/functions-datetime.html). Would a PR adding instances for functions with up to 7 (or perhaps more) arg

[2019-11-21 22:20] parsonsmatt commented on #162
yup!

[2019-11-25 15:48] #162 closed

[2019-12-10 00:14] tysonzero opened #165 "Consider changing how nullability is handled to more accurately model SQL"
I prefer the Haskell model of `null`, where `Just Nothing` and `Just (Just Nothing)` are different values, and where you use `<$>` and `>>=` to operate on the underlying value.

However with that said SQL does not take this approach, and thus trying to model nullability like the above is a very leaky abstraction. It also adds significant unneeded verbosity and a proliferation of functions that wou

[2019-12-10 00:20] parsonsmatt commented on #165
I really like this idea but I'd want to see how it plays out in practice, and ensure that type inference etc still works out relatively nicely.

[2019-12-15 01:16] belevy commented on #70
@parsonsmatt I have been looking at this. I know you just did a bunch of work on sub selects but your changes didn't fundamentally change the semantic meaning of them but maybe you have opionions re this. I have been looking at this problem in the context of UNION since even if we get union without the ability to sub select it will be impossible to order the results of a union. I was thinking mayb

[2020-01-13 17:18] ibarrae opened #169 "Add `+ interval 'amount "value"` operator for PostgreSQL"
Hey folks, would it make sense to add `+ interval 'amount "type"'` to date/times like this to PostgreSQL functions?
[code]

If that's the case, I'm more than happy to help with it :smile:

[2020-01-13 20:33] bitemyapp commented on #169
I think we have `+` don't we? Do you mean to ask if we should add `interval`? /cc @parsonsmatt

[2020-01-13 20:34] bitemyapp commented on #169
Yeah `+` is in there:

[code]

[2020-01-13 20:35] bitemyapp commented on #169
If you need `interval` for a project, I recommend adding it to a fork of Esqueleto, depending on that fork, adding it, then testing it with your project. Once you've done that you could upstream it. Does that make sense?

[2020-01-13 20:42] ibarrae commented on #169
Sure, that makes sense @bitemyapp. I did mean to add `interval` to the PostgreSQL module. I'll work on it and push a PR in the upcoming days and thanks :smile:

[2020-01-15 16:07] ibarrae commented on #81
What about if esqueleto provides the following instance?
[code]
Would that solve the issue/is it viable? cc./ @tysonzero @parsonsmatt

[2020-01-15 16:34] parsonsmatt commented on #81
@ibarrae That would require all the values having the same type.

So, one way to work-around this, is to nest tuples. So if you've got:

[code]

and that trips the limit, you can nest the tuples.

[code]

It might be nice to have an `HList` sort of thing, but I'd prefer to depend on a good `HList` implementation that's relatively well supported.

[2020-01-15 17:15] parsonsmatt commented on #81
@tysonzero I've opened a PR that has some documentation improvements for `groupBy` that points out nesting tuples to get around this. Would you say this addresses this problem sufficiently?

[2020-01-16 17:03] #81 closed

[2020-02-04 00:06] parsonsmatt opened #173 "Can't pass `SqlExpr (Entity e)` to functions"
Consider this query:

[code]

This gets all the `foo`s, converts them to JSON, and stuffs them in a list. We might try to write this as:

[code]

But this fails, because `unsafeSqlFunction` is written only for `Value`s. There's even a catch-all instance that forces a Value:

[code]

[2020-02-06 19:58] jolmg opened #174 "Query with variable number of joins"
For example, let's say that I have a list representing a category path, like

and I want to find the corresponding record in a table "category" with columns "parent_id" and "name".

In Ruby with ActiveRecord, I could do something like:

[code]

That results in a query like:

[code]

Could something like that be done with Esqueleto? preferably without having to manually handle the aliasing. Right n

[2020-02-06 20:05] belevy commented on #174
The work on #172 should address this. We started with a similar idea for the syntax but ran in to issues with mixing the old style of introducing tables into the query and these standalone joins. Please take a look at that PR and feel free to leave comments on anything that you feel is missing over there. Currently it is being held up by bad type errors but hopefully we can land it soon™️

[2020-02-06 20:14] jolmg commented on #174
That's really exciting, especially the fact that it also seems to work towards being able to build subqueries in the joins, and unions! I'm practically salivating now. I'm going to look over it over the next few days.

[2020-02-10 23:25] erikd commented on #82
I think I am running into a related problem with `sum_`

I have a query which results in a 4-tuple, using `(sum_, count, min_, max_)` . The sum is over a `Word64` field which i have constrained to be `sqltype=uinteger` where `uinteger` is specified using `CREATE DOMAIN uinteger AS bigint CHECK (VALUE >= 0)`. The result of the above query gets inserted as a row in another table.

However, the query

[2020-02-10 23:31] parsonsmatt commented on #82
The hanging behavior has me suspecting the `PersistField` instance for the type you're using doing some infinite recursion. Can you post the code for that?

[2020-02-10 23:34] erikd commented on #82
I have not hand defined *any* `PersistField` instances. I am just using the defaults. The query as it is now is:
[code]

[2020-02-11 00:05] parsonsmatt commented on #82
I made a test case to reproduce the issue:

[code]

I get a test failure on postgresql:

[code]

But no such failure on `sqlite`

[code]

I'm not sure what the issue is, exactly :\

[2020-02-11 00:16] erikd commented on #82
Hmm, i wonder if something in my app is catching and silently discarding exceptions :scream: .

[2020-02-11 00:28] erikd commented on #82
Hmm, `Rational` seems to be the key. Changing `convert` to:
[code]
gets me past the hang, only to hang in another place.

[2020-02-11 08:26] erikd commented on #82
Turns out that an incorrect usage of `async` was causing exceptions to be caught and held. Since the `wait` on the async was never called, the exception was never propagated/reported.

Onto the `esqeleto` issues, the `sum_` was definitely resulting in a `PersistRational` field (which a denominator of `1`) but the count *also* occasionally gets returned as a `PersistRational`. Why is the row count

[2020-02-11 08:29] erikd commented on #82
And then I repalced `repsert` with `replace` and it worked as expected.  I suspect `repsert` is not quite right.

[2020-02-11 16:34] parsonsmatt commented on #82
Can you file another bug for the `repsert` issue? Plus an example query and models would be super helpful :smile:

Row count should always return `bigint` which should work fine with `Word64`. I would need to see more of your code to understand why it's getting coerced into a `Rational`.

[2020-02-12 04:20] erikd opened #175 "Sum of a 'bigint` field gets coerced into a 'PersistRational'"
As requested by @parsonsmatt in https://github.com/bitemyapp/esqueleto/issues/82#issuecomment-584725299 .

The relevant bits of the schema are:
[code]
where I am using a number of PostgreSQL domain types:
[code]
The query that geneates the data to insert as a row of the `epoch` table is:
[code]
The first odd thing is that `sum_` over a field that is `Word64` on the Haskell side and `lovelace` (`bi

[2020-03-12 23:23] MaxGabriel opened #176 "DeconstructionError when using primary key that wraps a primary key on another table"
Hi, I think there's a bug with using a primary key on a table, that is itself wrapping a primary key on another table. As an example, here ArticleMetadata's primary key is an `ArticleId`, which is the primary key of `Article`.

[code]

In this case, an esqueleto query that does `(val articleMetadataId)` will error with `SqlBinOpCompositeErr DeconstructionError`.

I added a test to demonstrate this

[2020-03-12 23:34] MaxGabriel commented on #176
Possibly https://hackage.haskell.org/package/esqueleto-3.3.1.1/docs/Database-Esqueleto.html#v:toBaseId could workaround this?

[2020-03-12 23:58] MaxGabriel commented on #176
Update: found a workaround. Instead of:

[code]

You can do:

[code]

[2020-03-19 22:03] belevy commented on #176
Why bother wrapping the article id in `ArticleMetadataKey`?
Could you not just check the article id directly:
[code]

I agree that it probably shouldn't have a runtime error though but it seems like your proposed workaround is more complicated than necessary.

[2020-03-20 20:44] belevy commented on #165
I am not a huge fan of the extra type variable, I would prefer something that "just works" without breaking any old code. As it is most people probably have references to SqlExpr in their code bases (I know that we do) and so adding that extra type param would create giant friction for what may appear to be a small gain. Obviously we shouldn't paralyze the library for fear of changing the public i

[2020-03-22 04:15] belevy commented on #165
After playing with this more a couple things I discovered.

`(?.)` would be served well by a type level Join that could be implemented as
[code]
Then we can just return `SqlExpr (Value (Join Maybe (Maybe typ)))`

Though it may just be nicer to make a Maybe specific type family
[code]

which would allow the return type to be `SqlExpr (Value (SqlMaybe typ))`

A SqlBaseType type family may be useful

[2020-03-22 12:11] MaxGabriel commented on #176
My workaround is just the first thing I came up with, yours is definitely simpler. Regardless, agree it’s a bug and nice fix!

[2020-03-22 15:30] #176 closed

[2020-03-23 07:04] tysonzero commented on #165
There is a `sqlType` function in the `PersistFieldSql` class. Now it currently only works on the value level. However I think if it were lifted up into a type family and tagged with nullability it could be a lot more useful.

Then we would have:

[code]

This is pretty similar to what you have here, but could also be used for other purposes. It also would avoid any overlapping closed type families

[2020-03-23 13:37] belevy commented on #165
So am I understanding correctly that your concern is that we will ultimately need a type level sqlType function anyways for something like cast to be typesafe and you don't want to have both that and this SqlBaseType?

[2020-03-24 03:36] tysonzero commented on #165
More or less I suppose. I just think it's a nice solution to this problem and other related problems.

I also don't like the use of overlapping type families (even when closed).

[2020-03-24 04:17] belevy commented on #165
Ok, so I hadn't heard the term "overlapping type families" before and thought you meant that the families would be duplicating logic. I think I understand now, I guess I am not familiar enough with type level programming to really see the downside of having the simple families that it allows. I was playing around with this and I don't think that lifting sqlType would actually be particularly helpf

[2020-03-24 09:04] tysonzero commented on #165
So we start with a library specifically designed around Sql and its type system, and not around Haskell. Both the nullability and the sql type are carried around and handled separately. The `run` function would of course call into an actual SQL DB rather than manually executing it.

[code]

Next we provide a wrapper around that library to make it feel more like Esqueleto / Haskell, with things lik

[2020-03-24 14:26] belevy commented on #165
Ok I think I understand, the part I was missing was the underlying dsl vs public interface. Even still, it seems like an awful lot of work just to avoid the now 3 simple type families. I thought the whole point of closed type families was the overlapping bit.

In general it seems that one of the guiding principles of this library has been to really rely on Persistent as much as possible. The nulla

[2020-03-24 19:29] belevy commented on #165
Here is my latest iteration, it's main benefit is that it minimizes the changes to esqueleto and the type level stuff can fit nicely into Persistent by merging the SqlTypeable(shown below) and PersistFieldSql classes. It still utilizes the overlapping type families but they really simplify everything and really bring down the code necessary as well as diversion from persistent in my opinion.

[cod

[2020-03-24 22:51] tysonzero commented on #165
So the underlying DSL doesn't actually need to exist. The important parts are the `GetType` and `GetNullability` type families. The underlying DSL is just a neat little proof of correctness.

When you are operating on `Type` or `*`, that is very often the usage yes. Which is why personally I avoid ever writing closed type families that operate on `Type` or `*`. I wish they weren't supported to be

[2020-03-24 23:15] belevy commented on #165
I don't understand what case that would be. All operations that can introduce NULL should output a maybe. Maybe is strictly the tag for this thing can be null now in the esqueleto EDSL as it stands today and has no runtime meaning. There is one hole today related to outer joins not enforcing the maybeness but #172 closes that hole. Actually the Maybe is really the default and without a maybe all w

[2020-03-27 15:24] MaxGabriel opened #179 "Incorrect documentation of "mode" parameter"
It looks like all of the render query functions mention a `mode` parameter, but only `renderQueryToText` takes one

![image](https://user-images.githubusercontent.com/1274145/77771533-08eab100-7004-11ea-9667-e14ead694ff2.png)

[2020-03-29 02:31] tysonzero commented on #165
Persistent doesn't enforce this though. There is nothing stopping a dev serializing to and from null for their custom type, and there may be good reason for doing so. Also as mentioned nested `Maybe` is already an example of the hole in incorrectly treating nullability as nestable.

Specifically it's overlapping type families I dislike, and my dislike for it is the same reason I do like parametric

[2020-03-29 20:36] belevy commented on #150
Fixed in #172

[2020-03-30 15:05] parsonsmatt commented on #101
This has been addressed at some point, I think, because test failures are definitely getting reported. Thanks for reporting it!

[2020-03-30 15:05] #101 closed

[2020-03-30 15:06] parsonsmatt commented on #49
Fixed by #156

[2020-03-30 15:06] #49 closed

[2020-03-30 15:08] parsonsmatt commented on #32
Fixed by #172

[2020-03-30 15:08] #32 closed

[2020-03-30 15:09] parsonsmatt commented on #17
This would be great!

We already have these operators in he `PostgreSQL.JSON` module, so a new module `Database.Esqueleto.PostgreSQL.Array` would be the logical place for them to live.

[2020-03-30 15:11] parsonsmatt commented on #19
Fixed by #172

[2020-03-30 15:11] #19 closed

[2020-03-30 15:18] mattaudesse commented on #101
Cool, thanks!

[2020-03-30 18:07] parsonsmatt commented on #27
OK, so as documented in the #180 PR, this is definitely a timezone issue.

[2020-03-30 18:11] #27 closed

[2020-03-30 18:13] parsonsmatt commented on #33
It seems like we've settled on the least complex and "least safe" answer of "put database specific stuff in database specific modules." If you import `Database.Esqueleto.PostgreSQL` and expect it to work with MySQL, then that's a user-error that's unsupported.

[2020-03-30 18:13] #33 closed

[2020-03-30 18:13] parsonsmatt commented on #31
As with #33 , we're doing this in a module manner.

[2020-03-30 18:13] #31 closed

[2020-03-30 18:22] parsonsmatt commented on #44
I think the way we can do this is:

[code]

defined in `Database.Esqueleto.PostgreSQL`.

[2020-03-30 18:25] parsonsmatt commented on #39
I think what we "really" need here is a better way to set cascade behavior on the `persistent`. The issues [#910](https://github.com/yesodweb/persistent/issues/910) and [#999](https://github.com/yesodweb/persistent/issues/999) document this and the PR [#1056](https://github.com/yesodweb/persistent/pull/1056) implements it.

[2020-03-30 23:09] Vlix commented on #70
Ah, it was you! @belevy :smile:
@parsonsmatt #172 just made this possible, IIRC.

[2020-03-30 23:12] belevy commented on #70
@jprider63 definitely did a bunch of leg work for the subquery bits but yah, this one took a while. :)

[2020-03-31 21:13] Vlix commented on #70
A thank you for @jprider63 as well 😄

[2020-03-31 22:57] belevy commented on #174
@jolmg Are you able to accomplish what you want using the new syntax or is this still an issue in your mind?

[2020-04-03 15:37] googleson78 opened #182 "MySQL's GROUP_CONCAT()"
Is MySQL's [GROUP_CONCAT()](https://dev.mysql.com/doc/refman/8.0/en/group-by-functions.html#function_group-concat) currently supported in some way?

If not, what would be the procedure for adding it (to the mysql specific module of course)?

[2020-04-03 16:10] parsonsmatt commented on #182
Well, the simplest case is probably:

[code]

But the more complicated cases will require a little more elbow grease due to the subquery syntax vs the more conventional function arguments.

The Postgres module has a function `unsafeSqlAggregateFunction` which should serve as inspiration here:

[code]

You'd want to alter this to include a `Seperator` parameter to fully support the syntax.

[2020-04-25 21:53] Truedrog opened #183 "How to do subcat query with Experimental module?"
I was trying to do some queries with the new experimental module and got stuck with joins.
Suppose I have this schema:

[code]

and then I want to select a hierarchy from it.
Like
[code]

So my attempt was something like this
[code]
But it doesn't compile, so I had to stack 2 justs on top of the (people ^. root)

[code]
after that it compiled.

Could someone please explain why I should apply 2 jus

[2020-04-25 23:50] parsonsmatt commented on #183
First, you have `?.`, which projects from a  `Maybe Entity`to a `Maybe Field`. So `EntityField Category (Maybe CategoryId)` gives you `Maybe (Entity Category) -> Maybe (Maybe CategoryId)`. So you need one `just` for the first maybe and antoher for the second.

I'd personally prefer for the logic to more closely mirror SQL, such that `Maybe a` and `a` are comparable with the return type being `Mayb

[2020-04-26 09:49] Truedrog commented on #183
Thanks, that helped. Closing.

[2020-04-27 15:18] googleson78 opened #184 "Question on 'just' implementation"
Looking at the [implementation for `just`](https://hackage.haskell.org/package/esqueleto-3.3.3.0/docs/src/Database.Esqueleto.Internal.Internal.html#just):
[code]

all it seems to be doing is traversing a structure. Is the point of this definition to blow up on anything that isn't one of the matched constructors and/or make the spine of the `SqlExpr` strict? I am probably entirely missing something

[2020-04-27 15:43] parsonsmatt commented on #184
The structure traversal is changing the type of the value subtly. A `SqlExpr (Value Int)` does not *contain* an `Int` anywhere - but it may contain a field projection from a table (`foo.age`), or a raw value (represented as a tuple of the `Text.Builder` of the query and a `[PersistValue]` of potential substitutions).

The type is *sort of* a phantom. I say "sort of" because it's a GADT and you can

[2020-04-27 16:14] googleson78 commented on #184
Haha, I'm actually aware of this from other haskell/agda stuff, I guess my brain just wasn't in "types matter" mode :sweat_smile: Thanks for the great explanation! :heart:

I was thinking I'm going to need something similar to `just` when doing outer joins, because I'm currently using `just` for my `on` clauses situations like this:
[code]
where `YId` is not a `CustomMaybeInt` but just `Int64` (th

[2020-04-27 16:32] parsonsmatt commented on #184
Yeah, you'll need some kind of cast function. If they share the same underlying representation in SQL then you can use `veryUnsafeCoerceSqlExprValue` at a specific type. Eg:

[code]

[2020-05-01 16:01] Truedrog commented on #183
Expanding first example a bit further...

with schema
[code]
and this desired query
[code]

trying to do it in esqueleto with this code:

[code]

But it doesn't compile with error
 * Couldn't match type `Entity Category'
                     with `Maybe (Entity Category)'
        arising from a use of `from'

What am I missing? @parsonsmatt

[2020-05-01 16:10] parsonsmatt commented on #183
It looks like you're using `rootCat ^. CategoryId`. `rootCat` is introduced by a `LeftOuterJoin`, which means it is not `rootCat :: SqlExpr (Entity Category)`, but `rootCat :: SqlExpr (Maybe (Entity Category))`. This means you need to use `?.` instead of `^.` with it.

[2020-05-01 22:00] Truedrog commented on #183
Tried
`where_ (cat ?. CategoryId ==. val categoryId ||. just ( rootCat ^. CategoryId) ==. val categoryId)`
and
`where_ (just (cat ^. CategoryId) ==. val categoryId ||. rootCat ?. CategoryId ==. val categoryId)`
with the same error...

[2020-05-01 22:08] parsonsmatt commented on #183
Because `rootCat ?. CategoryId` is going to result in a `Maybe`, you'll probably need `rootCat ?. VategoryId ==. val (Just categoryId)`. If that doesn't work, please copy/paste the entire error message from GHC.

[2020-05-01 22:16] Truedrog commented on #183
[code]

[code]

[2020-05-01 22:20] Truedrog commented on #183
[code]

[2020-05-01 22:21] Truedrog commented on #183
This is strange but when intelij plugin provides more information than ghc when I use stack build.

[2020-05-02 04:07] parsonsmatt commented on #183
@belevy any ideas?

[2020-05-02 06:46] Truedrog commented on #183
With the might of typeholes I was able to fix my code:

[code]

Not sure about wrapping my categoryId in Maybe, because in my case the identifier will always come.

[2020-05-02 10:15] #183 closed

[2020-05-02 15:55] parsonsmatt commented on #183
I think you can have the function take a `Key Category` (no Maybe). The use-site is in the `where_` clause and I think you can rewrite as:

[code]

[2020-05-03 01:58] belevy commented on #165
Confusion around null has come up once again in #183. It seems that out joins enforcing nullability may exacerbate the poor handling of null. @tysonzero I fear that we are letting perfect get in the way of progress. @parsonsmatt do you have an opinion on my proposal to special case maybe with overlapping type classes?

[2020-05-08 15:33] ibarrae commented on #169
I think this is no longer necessary since this [PR](https://github.com/yesodweb/persistent/pull/1053) was merged on persistent. Do you agree @bitemyapp?

[2020-05-08 15:48] parsonsmatt commented on #169
You'd need an `intervalToDate :: SqlExpr (Value Interval) -> SqlExpr (Value UTCTime)` so that the types work out. `(+.)` requires that both arguments have the same type.

It'd be easiest to write:

[code]

[2020-05-08 16:02] ibarrae commented on #169
Cool thanks for the answer @parsonsmatt, I think that solves all my doubts. I think we can close this :smile:

[2020-05-08 16:05] #169 closed

[2020-05-19 17:51] parsonsmatt opened #185 "Improve GROUP BY"
Now that @belevy has defeated the Join monster, we have another set of runtime issues that are becoming more prevalent:

`GROUP BY`

In SQL, if you `GROUP BY` a column, then you can't refer to any other columns in the `SELECT`, except by aggregations.

But `esqueleto` currently has absolutely no way of tracking this in the types. [`opaleye`](https://github.com/tomjaguarpaw/haskell-opaleye/blob/mas

[2020-05-19 23:00] belevy commented on #185
Something to note is that when a column can uniquely identify a whole row then you are able to use that whole row beyond just the column. Additionally MySQL can return results that are not fully determined by the id(though later versions dissallow this by default). We actually have a couple of queries that (ab)use that fact at work, they return the columns directly instead of using the appropriate

[2020-06-01 21:54] Vlix opened #187 "PostgreSQL: Date/Time functions and types"
I'm thinking of adding a module to the `PostgreSQL` part of Esqueleto that will handle as many of the functions and types from the [Date/Time Functions and Operators](https://www.postgresql.org/docs/12/functions-datetime.html) section as I feel is doable for a first iteration.
Probably name it something like `Database.Esqueleto.PostgreSQL.DateTime`

Thought I'd make an issue to discuss this additi

[2020-06-13 14:29] shineli-da opened #188 "[Question] subquery as field in select"
Is it possible to translate subquery as field in select like below into esqueleto?
[code]

[2020-06-13 15:27] parsonsmatt commented on #188
Yes. Using the new Experimental module, we can write:

[code]

This uses two features of `esqueleto`:

The `subSelect` family of functions, which are useful whenever you want to use a subquery as a value.

The `SelectQuery` combinator, which allows you to use a subquery in a `FROM` clause.

[2020-06-14 08:45] shineli-da commented on #188
What I got from using `subSelect` with `SelectQuery` is an error:
`src/Database/Esqueleto/Internal/Internal.hs:2197:28-48: Non-exhaustive patterns in lambda`

[2020-06-14 08:56] shineli-da commented on #188
This is what I got by following the above. Any suggestions?
[code]

[2020-06-14 19:48] parsonsmatt commented on #188
@belevy gonna tag you in on this, any idea what's going on? Relevant code is:

[code]

[2020-06-14 19:56] belevy commented on #188
Yah EAliasedValue isn't being handled in that lambda. I'll take a look and try to make a patch today.

[2020-06-17 23:50] shineli-da commented on #188
Just reporting back. The PR above works for me. Thanks.

[2020-07-02 14:35] dariooddenino commented on #160
Hi @parsonsmatt ! I upgraded esqueleto after a while, and some of my queries broke. It's probably because they're not written correctly, but anyways here's an example which maybe could be useful to you:
[code]

[code]
results in:

`OnClauseWithoutMatchingJoinException "\"JoinA\".\"joinC\" = \"JoinC\".\"id\""`

I don't get an exception with esqueleto < 3.2.0

Thanks for the amazing work! :)

[2020-07-02 15:25] parsonsmatt commented on #160
Dang. I knew it might get things wrong :\

I'd suggest using the `Database.Esqueleto.Experimental` module which completely precludes any `on` clause ordering issues.

[2020-07-03 08:58] dariooddenino commented on #160
Oh nice, Experimental looks pretty cool! I will give it a try for sure, thanks :)

[2020-07-07 01:09] AliNisarAhmed opened #192 "[Question] How to load References using Foreign Keys and serialize into JSON."
I am a Haskell beginner trying to make my first web app with Servant and Elm.

Not sure if this is the right place to ask such questions, but I will ask anyway.

So the model looks like this: (I am using PostgreSQL)

[code]

What I want to fetch eventually and send to the client as JSON is a list of `Question` (each with a `User` object embedded inside), each `Question` has a list of `Answer` (wit

[2020-07-10 13:15] googleson78 opened #193 "Experimental: ToAlias(Reference)T doesn't evaluate for `Maybe`s"
I got the following error today:
[code]

Is this an oversight in `Experimental` stuff, or am I trying to do something impossible/stupid?

Context is roughly as follows: I have a (nonempty) list of queries, all of which have a left outer join (with `Thing` being on the right side of the join), over which I'm doing a `foldl1 Union`

Basically this thing:
[code]

[2020-07-10 15:51] parsonsmatt commented on #193
@belevy this seems like it should work, any idea what's going on?

[2020-07-10 16:00] belevy commented on #193
Looks like an oversight in the type families. I might be able to take a look today.

[2020-07-10 17:57] googleson78 opened #194 "Experimental: Union of queries with limit doesn't render properly"
In mysql at least, when the queries being `UNION`'d have `LIMIT`s in them, you need extra parens around each subquery

[2020-07-10 18:21] belevy commented on #194
This is not standard sql behaviour. MySQL is the only engine I know that allows parentheses and limits/orderby. I do wonder if maybe we could do a check to see if limit and orderby are used in the queries being unioned and optionally wrap them

[2020-07-10 18:28] googleson78 commented on #194
Could you elaborate on the first part? I'm an SQL newbie, is there some issue with just putting extra parens around `x` and `y` in this expression:
[code]

It seems to me like redundant parens shouldn't invalidate the query (?)

wrt. the check, I remember spotting some `NeedParens` datatype and mechanism in `SqlExpr` for this purpose, perhaps it could be helpful here? (although `Experimental.from`

[2020-07-10 19:20] belevy commented on #194
Yah, this isn't the only case of extra parentheses causing the sql engine to choke. For example `value in ((1,2,3))` is a sql error. MySQL is fine with parens in set operations but at least sqlite isn't and I'm fairly sure that postgres also doesn't like it.

[2020-07-10 19:48] googleson78 commented on #194
In this case the issue is much worse, I think. I'm pretty sure at the moment of rendering `esqueleto` isn't aware of the backend being used. I'm not sure what the solution here is at all :/
* some way to plug this info (or "information on how to render unions") somewhere (?)
* creating some kind of separate version of `Experimental.from` for mysql in the mysql specific module

@parsonsmatt any clu

[2020-07-10 19:53] parsonsmatt commented on #194
Supporting MySQL is *the worst* :joy:

We can know via [`connRDBMS`](https://www.stackage.org/haddock/lts-16.4/persistent-2.10.5.2/Database-Persist-Sql.html#t:SqlBackend), and I think the `SqlBackend` is carried around in the `SqlQuery` monad.

[2020-07-12 00:29] JoeMShanahan opened #196 "Using Postgres' OVER()"
Stackoverflow answer with a better explanation that I could give: https://stackoverflow.com/a/28888696/1527537

Is this possible in Esqueleto?

[2020-07-12 02:33] belevy commented on #196
unfortunately window functions are not currently supported. I have thought about what the best way to implement them would be but am not sure. This would probably be related to #185 as I think we should really keep windows in mind as we make any changes to group by.

[2020-07-22 03:09] sestrella opened #197 "PostgreSQL: Allow aggregate functions to take a filter clause"
PostgreSQL allows aggregate functions to take an optional filter clause, however this is not supported by esqueleto yet.

https://www.postgresql.org/docs/12/sql-expressions.html#SYNTAX-AGGREGATES

[2020-07-26 18:26] belevy commented on #185
I guess this should take #197 into account

[2020-08-20 07:14] timds opened #201 "Experimental: exception when using coalesceDefault/unsafeSqlFunctionParens on aliased value"
Hi, using the Experimental module, I get this error when using coalesceDefault on the result of a subselect:

[code]

I don't have time to make a reproduction right now sorry, but it looks like the same problem as that fixed in this pull #189.

I'm using 3.3.3.2, so the error is occurring at the lambda in `unsafeSqlFunctionParens`

[2020-08-20 11:39] bitemyapp commented on #201
Shouldn't be occurring if that's your version, it got released prior to 3.3.3.2: https://github.com/bitemyapp/esqueleto/pull/189#issuecomment-647146585

cc @belevy @parsonsmatt Any ideas?

[2020-08-20 15:20] belevy commented on #201
Looks like there are a couple more lambdas that assume ERaw they will also fail on compound values. The fix should be fairly easy just annoying that there are two nearly identical functions

[2020-08-23 08:46] tomjaguarpaw opened #202 "Indent do blocks in Haddock?"
Shouldn't the do blocks, here and elsewhere, be indented?

https://github.com/bitemyapp/esqueleto/blob/4dbd5339adf99e1f045c0a02211a03c79032f9cf/src/Database/Esqueleto/Experimental.hs#L159-L162

[2020-08-26 17:40] jkachmar opened #204 "Apply WHERE clause to INSERT SELECT .. ON CONFLICT .. UPDATE"
`INSERT SELECT .. ON CONFLICT .. UPDATE` is currently implemented as [`insertSelectWithConflict`](https://hackage.haskell.org/package/esqueleto-3.3.3.2/docs/Database-Esqueleto-PostgreSQL.html#v:insertSelectWithConflict), which provides basic `upsert` functionality in a fairly nice way.

Unfortunately it's fairly limited compared to Esqueleto's [`update`](https://hackage.haskell.org/package/esquele

[2020-08-30 19:16] #193 closed

[2020-09-13 11:10] arrowd commented on #182
The `unsafeSqlFunction "GROUP_CONCAT"` trick worked for me with SQlite too.

[2020-09-17 08:49] googleson78 commented on #184
Closing this since my original problem was solved (and it's not really that related to `esqueleto` anyway). Thanks!

[2020-09-17 08:49] #184 closed

[2020-09-17 22:54] charukiewicz commented on #202
Hi, I wrote the `Database.Esqueleto.Experimental` module docs after @belevy finished the writing the module. Others may have a different opinion, but the short answer to your question is no, unless your personal preferences dictate otherwise.

In the case of the highlighted query, which is very short, we decided it would be fine to leave it unindented because the equivalent SQL would also probably

[2020-09-18 09:38] tomjaguarpaw commented on #202
Interesting. I see this style of indentation so rarely that I assumed it must be invalid syntax! Turns out it's perfectly valid. Therefore I'm closing this issue.

[2020-09-18 09:38] #202 closed

[2020-09-24 15:11] googleson78 opened #207 "No docs for 3.3.4.0 on Hackage"
There are no docs for esqueleto 3.3.4.0 on Hackage - https://hackage.haskell.org/package/esqueleto-3.3.4.0

Is this the right place to be reporting this? Sorry if it isn't!

[2020-09-29 11:08] #201 closed

[2020-10-01 18:18] parsonsmatt opened #209 "[Experimental] Raw Subquery in FROM"
It'd be nice to be able to write, eg:

[code]

The resulting SQL would be like

[code]

[2020-10-04 22:50] charukiewicz commented on #209
Great idea. @parsonsmatt which package/module are you using for the text quasi-quoter to construct the query with interpolated values? Is it `st` from [`Text.Shakespeare.Text`](https://hackage.haskell.org/package/shakespeare-2.0.25/docs/Text-Shakespeare-Text.html)?

[2020-10-05 03:13] parsonsmatt commented on #209
Yup! A specialized QQ that could parse Esqueleto/Persistent stuff (like the `Database.Persist.QQ` one) could be neat too.

[2020-10-08 00:25] amitojps opened #210 "Recommend HLint rule disallowing `==. nothing`?"
My dear coworker @MaxGabriel has previously added documentation to `isNothing` detailing that `isNothing x` is almost always to be used over `x ==. nothing`, because equality comparisons with `NULL` will return `NULL`, rather than `true` or `false`.  See https://github.com/bitemyapp/esqueleto/pull/203

We have an HLint rule that prevents people from making this mistake:
[code]

What about adding a

[2020-10-08 18:22] MaxGabriel commented on #210
[code]

We've expanded to these 4 rules ^

[2020-10-09 02:59] jkachmar commented on #207
Looks like Hackage doesn’t provide any additional context as to why Haddock generation failed:

https://hackage.haskell.org/package/esqueleto-3.3.4.0/reports/3

[2020-10-09 07:27] googleson78 commented on #207
It generates haddock fine locally with cabal too :thinking:

[2020-10-12 15:41] #197 closed

[2020-10-19 20:34] arthurxavierx opened #211 "Unify ToFrom+ToFromT, ToAlias+ToAliasT and ToAliasReference+ToAliasReferenceT"
It would be nice if `ToFromT`, `ToAliasT` and `ToAliasReferenceT` were associated type families of `ToFrom`, ToAlias` and `ToAliasReference`, respectively. That would let users implement custom instances of those type classes for cases where custom SQL expr types are used, or for cases where the standard tuple sizes supplied are not enough.

From a quick look into the source code it seems that thi

[2020-10-20 18:14] parsonsmatt commented on #121
With the experimental machinery, this can be done:

[code]

And it even works in sub-selects!

[code]

But it doesn't work if you try to summon both of them up.

[code]

This returns the query

[code]

I thought about using eg `CrossJoin` in the corresponding from clause:

[code]

But the `t :: SqlExpr (Entity TaxRates)` value isn't in scope here. We'd need to bring it into scope somehow.

Hm.

[2020-10-20 18:22] parsonsmatt commented on #121
Yo @belevy I think that `SubQuery` should be a function, like the join types. That would let us write something like:

[code]

:thinking: Any idea on how this might work?

[2020-10-20 21:19] belevy commented on #121
what you are trying to do is a LATERAL cross join. I have wanted to implement something like LateralQuery (\x -> ) where the x is whatever has been put into scope. The implicit CrossJoin caused by pulling two from clauses into the SqlQuery should probably enforce LATERAL not sure if that works with the comma syntax though.

[2020-10-21 01:07] belevy commented on #121
Ok its not the prettiest thing but it at least mostly works. Maybe you can take a look and make it work more? https://github.com/belevy/esqueleto/tree/lateral-joins

[2020-10-22 14:33] belevy commented on #209
Ultimately id like to see something like `with :: CTE a -> (SqlExpr a -> SqlQuery b) -> SqlQuery b`.

Either way a raw query escape hatch is probably a decent idea so that you don't have to completely abandon esqueleto to write your query if there is a feature that is yet to be supported.

[2020-10-23 18:42] #194 closed

[2020-10-23 18:42] #188 closed

[2020-10-23 18:43] #150 closed

[2020-10-23 18:56] belevy commented on #211
So `ToFromT` is a closed type family to support the type errors. If you can come up with a better way to handle this and provide the errors I'm all ears, this was my first foray into Type Families and TypeError so I'm sure it could be much better. As for the other type families they probably could be opened and associated with the type classes, I closed them to be consistent with ToFromT.

As far

[2020-10-27 01:55] belevy commented on #207
This appears to have been caused by the re-export of `Database.Esqueleto` from `Database.Esqueleto.Experimental`. This is fixed by #215 though 3.3.4.0 will not have docs in that case.

[2020-10-27 18:56] arthurxavierx commented on #211
Ah yes, I noticed that when trying to code this haha

As for the other two type families I will open a PR that merges them into their corresponding type classes, if that's ok. That would solve a real use case where we have custom types in our DB layer with `SqlSelect` instances.

[2020-10-27 19:09] belevy commented on #211
I would be okay opening them for that use case. But like I said above I feel like n-tuples would be best handled in the library itself. As a warning #215 causes a fair amount of changes to the Experimental module though I believe that only the ToFromT type family changed. On reflection ToFromT is probably doing too much and likely the type families as a whole can be simplified.

[2020-10-27 19:26] parsonsmatt opened #216 "Runtime error with subqueries"
I had a subquery for a join table:

[code]

This compiles fine, but it fails in odd places.

If I write `(a, b) <- joinTable`, it's fine, provided I don't actually do *anything* with it. If I so much as throw a `limit 1`, then I get another error.

If I write `(a, b) <- from $ SubQuery joinTable`, then it fails with `SqlBinOpCompositeErr DeconstructionError` - a run-time error.

If I use `:&` inst

[2020-10-27 19:30] belevy commented on #216
This is in v3.3.4.0? If you could tell my what postgresql is barfing on it might explain what's malformed.

[2020-10-27 19:46] parsonsmatt commented on #216
oh lol yeah i'm not on 3.3.4.0 let me try that

[2020-10-27 21:28] #216 closed

[2020-10-28 19:17] parsonsmatt opened #217 "Refactor test suite"
It'd be *real* nice to get `Common.Test` in a less massive state.

Using `SpecWith Run` instead of `Run -> Spec` would be good too - allows us to define `itDb message action = it message $ \run -> run action`.

[2020-10-29 03:37] #121 closed

[2020-10-29 03:37] #124 closed

[2020-10-29 03:37] #207 closed

[2020-10-29 04:11] #210 closed

[2020-10-29 12:34] arthurxavierx commented on #211
I agree. My use case is for custom data types actually, not for n-tuples (where n > 8).

Oh wow, that PR is wonderful! Yeah, I didn't cause any conflicts.

On another note, is there any reason why we need `ToAliasT` and `ToAliasReferenceT`? It seems that for all cases we have `ToAliasT a ~ a` and `ToAliasReferenceT a ~ a`.

[2020-10-29 12:53] belevy commented on #211
There must have been a reason. But for the life of me I can't remember.

Thinking it through the aliased value/entity should always be exactly the same type. Semantically it would make no sense for them to be different. I solved subqueries very early on and never really revisited them.

If I had to guess at my reasoning, it was perhaps a misguided attempt at ensuring I aliased values in the proces

[2020-10-29 13:29] belevy opened #222 "Refactor ToFromT"
Currently ToFromT does too much. In addition to providing the result type of a ToFrom instance it also is handling type errors for the different join kinds. This prevents it from becoming an associated type family. By extracting out the type error parts we can associate it.

Already started work on this at https://github.com/foxhound-systems/esqueleto/tree/simplify-type-families

[2020-10-29 21:35] #211 closed

[2020-11-03 16:39] parsonsmatt opened #227 "Feature Request: `autoOnClause`"
A lot of the time, the `on` clause is obvious.

[code]

[code]

It would be great to just write:

[code]

This should be feasible.

[code]

[2020-11-04 17:15] #222 closed

[2020-11-08 15:21] belevy commented on #185
Had some thoughts on this.

We could probably figure out a way to make an hlint rule that warns instead of going full indexed monad and requiring qualified do.

Also with regards to the id uniquely identifying the whole we could make a ToSomeValue instance for an entity that uses it's primary key so that at least solves that concern.

Overall this seems like a difficult nut to crack without breaki

[2020-11-09 15:33] #70 closed

[2020-11-10 17:45] belevy opened #229 "Implement Window Functions"
This is my stream of consciousness thoughts on Window functions.

Window functions should be restricted in use. Therefore they cant be SqlExpr (Value a) since that would allow for their use wherever a Value is allowed.
Solution: `SqlExpr (AggregateValue a)` This would use a new newtype to support SqlSelect. I am not a fan of the new wrapper type but it is forced on us by the fundeps of SqlSelect.

[2020-11-10 18:41] parsonsmatt commented on #229
If `over_` is instead an infix function, then we can keep `countRows_` as-is and write:

[code]

[2020-11-10 18:46] belevy commented on #229
how does one forbid
[code]

I guess `over :: SqlExpr (Value a) -> Window -> SqlExpr (AggregateValue a)`?

[2020-11-20 06:43] vlatkoB commented on #129
@parsonsmatt Can you share more details (1., 2., 3. above) on how you made View schema available to Esqueleto? Only include model, but skip the migration? Or...?

[2020-11-20 13:49] parsonsmatt commented on #129
Sure!

First, you have a Persistent models definition that doesn't include migrations. So you'd have something like:

[code]

You'd need to create the view as part of the database initialization and/or migration. If you're using persistent migrations, it might look like:

[code]

There's no guarantee that the view code and the model line up.

But once the VIEW exists in the database, and you have

[2020-11-20 17:52] belevy commented on #173
would this work?

[code]

[2020-11-22 22:38] amitojps opened #230 "Runtime`PatternMatchFail` using `coalesce` when joining to subquery"
This is on `esqueleto-3.3.3.0` and `persistent-2.10.4`. The exact error is

[code]

Here's the smallest example I've been able to construct.

Models:
[code]

Code:
[code]

Replacing this last line with things like `coalesceDefault [mTxt] txt` produces the same error.

[2020-11-22 22:40] friedbrice commented on #230
I'm just gonna slide on in here so i get notifications on this topic.

[2020-11-22 23:23] belevy commented on #230
Does this issue occur on v3.4.0.0?

[2020-11-23 00:54] amitojps commented on #230
Good question, I didn't even realize 3.3.3.0 wasn't the most recent version! The issue is resolved on 3.4.0.0 and 3.4.0.1, thanks 👍

[2020-11-23 00:54] #230 closed

[2020-11-23 04:10] parsonsmatt commented on #230
I'm going to go ahead and deprecate 3.3.0.0 so this will hopefully stop being less of a thing :sweat_smile:

[2020-11-25 15:51] belevy commented on #192
perhaps this article will help. Its a bit long but it covers a bunch.

https://www.foxhound.systems/blog/grouping-query-results-haskell/

[2020-11-25 16:50] parsonsmatt commented on #192
It's tricky because there's a bunch of ways you might "nest" these rows, just based on the result list type. But - when you actually do the join - you know what you want to get out of it.

For the easy case, like ``User `InnerJoin` Question``, where you want something like `[{ "user": { "questions": [{}, {}, ...]}, ...]` it seems obvious. But then you have your example, where we want to do the joi

[2020-11-27 05:37] AliNisarAhmed commented on #192
@belevy Thank you for writing the article, this is exactly what I was looking for.

@parsonsmatt Thanks for your detailed response (will take me some time to digest that).

[2020-11-27 15:36] parsonsmatt commented on #192
I wish it could be more helpful - unfortunately, it's an Idea that's not quite fully baked.

Lately my development strategy with esqueleto has been to publicly wish for something and maybe give a brief idea on how it might be accomplished, and then @belevy runs with it and we get a new feature :joy: But maybe I'll actually deliver this one.

[2020-11-27 22:29] JonathanLorimer opened #231 "Feature Request: Support for representing literal values as a Table"
It would be amazing to have support for something like this:
[code]

I don't know the esqueleto codebase very well, but it seems that it could be added to the `From` GADT like so:
[code]

[2020-11-29 00:02] belevy commented on #231
So this isn't a sql standard but rather postgresql specific as far as I can tell. I started work on a branch that eliminates the From GADT in favor of a typeclass. This would allow extensions of From to be made.in the backend specific modules.

[2020-11-29 17:25] JonathanLorimer commented on #231
Ahhhh, you are right, I only use postgresql so I just assumed other dbs had this capability. I would be happy to try and implement `Values` in the postgresql module once the migration to a typeclass has happened.

[2020-12-05 20:56] #192 closed

[2021-01-08 01:02] masaeedu opened #234 "Case analyzing enumerable types"
Hello. Does it make any sense to have a function like this in the library:

[code]

This allows us to use arguably more natural Haskell case analysis to dispatch on an SQL expression representing an enumerable type, instead of constructing a syntax tree using `case_`, `when_`, `then_`, `else_` etc. For example instead of:

[code]

we can have:

[code]

[2021-01-12 14:52] hdgarrood commented on #79
I think this might be due to the parens field of `ERaw` being ignored in `makeWhere`:
[code]

[2021-01-12 14:55] belevy commented on #79
@hdgarrood that sounds plausible

[2021-01-12 14:56] hdgarrood commented on #79
Having looked a little bit more closely I think the issue I'm running into might be different from this one.

[2021-01-12 14:59] belevy commented on #79
It should be possible to avoid sub_select through the use of lateral joins (or just regular subquery joins if you don't need to correlate the subquery)

[2021-01-12 15:21] hdgarrood opened #235 "WHERE expressions sometimes need parens and don't get them"
For example:
[code]
renders as
[code]

which is a syntax error, at least under Postgres. I commented on #79 already thinking it was related, but after a second look I'm not sure.

If we generated this instead, I think we'd be okay.
[code]

I think this might be due to the parens field of `ERaw` being ignored in `makeWhere`:

[code]

[2021-01-12 15:25] belevy commented on #235
Is that even legal syntax in the SQL standard. I mean I'm fine with adding the parens in as long as it doesn't cause a regression for other backends but what the hell is that query doing.

[2021-01-12 15:28] parsonsmatt commented on #235
postgres accepts it:

[code]

[2021-01-12 15:29] hdgarrood commented on #235
I've no idea what the SQL standard says as I've never been able to get hold of it, sadly. (Do you know how?)

It's just a minimal reproducing example. The real case where I'm running into this is along the lines of
[code]
and while it should be possible to refactor to avoid sub-selects, it's awkward in this case because of how my code is factored.

[2021-01-12 15:33] hdgarrood commented on #235
I had a go at this in https://github.com/bitemyapp/esqueleto/commit/3b9469b059e913dbc3d6f7acc88b0d40400835e9 but I'm now getting this, which I think is unlikely to break anything but it does seem less than ideal:
[code]
(but I don't think I can justify spending much more time on this right now unfortunately)

[2021-01-12 15:34] belevy commented on #235
So I think it should be perfectly straightforward to refactor to an InnerJoin on your subquery or a lateral cross join if you need access to p inside of the subquery. Esqueleto 3.4 let's you just `InnerJoin do`

[2021-01-12 15:36] parsonsmatt commented on #235
@belevy I think we need to make sure this works, even if it's possible to rewrite the query - `esqueleto`'s ability to decompose and recombine query fragments means that it's not always feasible to alter the structure of a query

[2021-01-12 15:38] hdgarrood commented on #235
Yes, it should be possible to refactor what I've written above, but there's more to it than that still: in my real code, the argument to `where_` is a type class member whose implementation might have no sub selects, or might have many sub selects, depending on the instance in question. I just inlined it above so that it was easier to understand.

It seems reasonable to expect that queries which t

[2021-01-12 15:40] hdgarrood commented on #235
I've worked around this issue in my code by adding a `val True &&.` to the argument to `where_`, which forces parens to be added.

[2021-01-12 15:43] belevy commented on #235
Oh no doubt this ought to work. Just proposing workarounds that avoids sub selects

[2021-01-21 23:24] Vlix commented on #17
I believe this is done with my contribution last year?

[2021-01-22 03:16] belevy commented on #185
I cant help but keep thinking on this. I did a quick sketch of an idea at
https://github.com/foxhound-systems/esqueleto/commit/b2a94c9e49434c108e33aa8aa695a5822d79d72f

Basically there is a type `SqlExpr (Aggregate a)` that can only be returned from a `groupBy` clause. In addition all functions that cause aggregation would return an `SqlExpr (Aggregate (Value a))`. There is still the possibility o

[2021-01-22 03:19] belevy commented on #185
Oh and I was of course considering the case of Window functions during this. A window function would be another way to discharge an `Aggregate` however I am not sure how to handle them working in both a grouped and non-grouped case.

[2021-01-23 22:32] masaeedu commented on #234
Actually there is a simpler way to say all of the stuff above:

The implementation I gave above is just the bounded+enumerable dependent `bindS` of a `Selective` functor.

[2021-01-25 23:47] jfraudeau opened #237 "Unexpected Behaviour of `locking`"
**What Happens:** When using `locking` in a concurrent but single-threaded environment. A call to `select` with `locking` seems to be blocking as long as the lock is not granted.

**What I Expect:** The call to `select` behaves in a non-blocking fashion and allows concurrent user thread to continue their execution until the lock is granted. This is the behavior of `update` when it is unable to acq

[2021-01-26 01:09] belevy commented on #237
I don't think this is a bug against esqueleto as the query it is generating seems to be correct. We use rawQuery from persistent under the hood so if anything this would be a bug against persistent-postgresql. That said this seems to be the expected behavior. You are requesting the query to grab a mutex to lock the row. Since the first thread has that lock you have to wait for the thread with the

[2021-01-26 09:10] jfraudeau commented on #237
Thank you for your comment, I agree that the problem doesn't come from esqueleto but rather from persistent. I didn't think of rawSql and hence could only generate `for update` with esqueleto.

My surprise doesn't come from the fact that the second thread has to wait for the mutex, that's the reason for using `locking` but the fact that the wait is done with blocking IO while in Haskell and for no

[2021-01-26 09:10] #237 closed

[2021-02-13 04:50] BorisNikulin opened #239 "count with nullable column emits COUNT(*) instead of COUNT(nullableColumn)"
I explicitly want to count non nulls so I assume if I hand the `count` function a nullable column (via `?.`) it will count the number of non null rows. However that is not the case. `count` using a non null column (via `^.`) works but not a nullable column.

Am I trying to find the number of non null rows incorrectly?

Also the documentation for `count` and the other count functions is nonexistent

[2021-02-13 18:13] parsonsmatt commented on #239
`count ?. MatchId` issues a `COUNT(*)`? That's definitely wrong. Looks like it'll issue that if we hit a `ECompositeKey`:

[code]

Not entirely sure what to do with a proper composite key. [This StackOverflow question](https://dba.stackexchange.com/questions/127564/how-to-use-count-with-multiple-columns) says we can do `COUNT(DISTINCT a, b, c ...)` to count distinct values of `a, b, c` columns, wh

[2021-02-13 18:56] BorisNikulin commented on #239
Match does have a composite key

https://gitlab.com/golden-goblet/backend/-/blob/paginated-events-with-game-names/src/Data/Entities.hs#L41:
[code]

[2021-02-13 19:12] parsonsmatt commented on #239
Unfortunately, postgres does not support `count(distinct a, b)` :\

[2021-02-14 00:33] belevy commented on #239
Honestly I hate Composite keys being considered a "single" field they make everything so much more comfortable complicated. That being said, natural keys containing one value should be treated the same as normal fields. @parsonsmatt updated the function in persistent that we rely on to tell if something has a composite key in 2.11

[2021-02-15 14:17] belevy commented on #229
Current working approach is on https://github.com/bitemyapp/esqueleto/tree/4.x
The changes are based on https://github.com/bitemyapp/esqueleto/pull/228

First insight, aggregate expressions are much more limited than regular expressions. Additionally there is a distinction between kinds of aggregate expressions, (i.e. aggregate function vs value that has been grouped).

This leads to the creation

[2021-02-15 16:34] parsonsmatt commented on #239
I do think it makes sense to support composite values, in some way. Like, an `Entity X` is a 'composite value' containing the fields of `X`. Likewise a composite key, as mentioned in this thread, makes sense. And supporting this more generally would allow other niceties, like "exploding" datatypes into multiple columns to embed them in an `Entity`, or a sum-type that explodes into multiple (nullab

[2021-02-15 20:06] belevy commented on #239
i think if you want to handle a composite value then it needs to be marked as such in the since a composite value is not the same as a single value and cant be used in the same ways.

[2021-03-18 14:35] arthurxavierx opened #241 "'undefined' with joins in Experimental syntax"
The following query produces an `undefined` error when run:
[code]

The error points to https://github.com/bitemyapp/esqueleto/blob/master/src/Database/Esqueleto/Experimental.hs#L770

I believe the problem is due to the use of a tuple instead of `:&`, as it was fixed by changing the type of the expression to `SqlQuery (SqlExpr (Maybe (Entity Foo)) :& SqlExpr (Maybe (Entity Bar)))`.

I suspect this

[2021-03-18 16:46] belevy commented on #241
this should be fixed in https://github.com/bitemyapp/esqueleto/pull/228 when i get around to finishing it

[2021-03-19 12:24] arthurxavierx commented on #241
@belevy thanks for doing god's work in that PR, it's looking absolutely fantastic!! Looking forward to having it :)

[2021-03-21 10:39] tysonzero opened #242 "Add support for substr() function"
Currently it does not seem possible to slice up strings.

[2021-03-21 20:56] charukiewicz commented on #242
It's pretty easy to add support for new functions in a similar manner to some of the existing (like `length_`, `lower_`, `upper_`, `rtrim_`, etc.). Here's how and where they're implemented:

https://github.com/bitemyapp/esqueleto/blob/a61f5527e8d8c2d4ce679b295578f9fe4dafd7cf/src/Database/Esqueleto/Internal/Internal.hs#L809-L846

Here's the general flow of how you can make changes:

1. Fork the rep

[2021-04-16 17:46] parsonsmatt opened #246 "Migration proposal: Drop `Database`"
We want to migrate folks to the `Experimental` syntax as the default, but we also don't want to break anyone's code that hasn't migrated.

Thought: Declare `Esqueleto` the new module name for the default interface. Deprecate `Database.Esqueleto.*` and have a temporary `Esqueleto.Legacy` that we can put folks on.

[2021-04-16 18:22] charukiewicz commented on #246
Personally, I think it's valuable to stick to the convention that database related things are in the `Database.*` namespace. I think every database related package I've seen follows this convention. I think this is particularly important for Esqueleto, since it relies on `Database.Persist`.

My proposal/assumption for how this migration would take place is as follows:

| Esqueleto 3.x | Esqueleto

[2021-04-28 23:15] ranjitjhala opened #247 "Convert `Database.Persist.Query.Filter` into `SqlExpr` ?"
Hi,

(My apologies in advance if this is not the right place to ask!)

Is there an existing way to convert `Persistent`s "where" clauses represented as

https://hackage.haskell.org/package/persistent-1.1.3/docs/Database-Persist-Query.html#t:Filter

into `Esqueleto`s `SqlExpr (Value Bool)` ?

Thanks in advance!

- Ranjit.

[2021-04-29 15:49] parsonsmatt commented on #247
It should be possible, yes. I haven't tested or compiled this code, but i Think it'd work with a bit of completing

[code]

[2021-05-07 17:27] parsonsmatt commented on #246
Fair. I'll leave the `Database` prefix on

[2021-05-07 17:27] #246 closed

[2021-05-07 17:28] parsonsmatt commented on #209
Going to close this out since the features were implemented properly.

[2021-05-07 17:28] #209 closed

[2021-05-07 17:31] parsonsmatt opened #248 "Migration to Experimental"

[2021-05-07 17:31] parsonsmatt opened #249 "Database.Esqueleto.Legacy"
- [ ] Create a module `Database.Esqueleto.Legacy` that has the same export list as `Database.Esqueleto` now.
- [ ] Put a warning on `Database.Esqueleto` that points users to either switch to the new Experimental syntax or to switch the import to `Database.Esqueleto.Legacy`.
- [ ] Modify documentation on `Database.Esqueleto` to point to `Database.Esqueleto.Experimental` as the official new syntax.

[2021-05-07 17:33] parsonsmatt opened #250 "Database.Esqueleto exports Experimental by default"
- [ ] `Database.Esqueleto` exports `Experimental` syntax by default.
- [ ] Remove the warning on `Database.Esqueleto`
- [ ] Add a warning to `Database.Esqueleto.Experimental` suggesting folks use `Database.Esqueleto`

Phase 2 in #248

[2021-05-11 21:11] parsonsmatt opened #251 "`update` doesn't work with Experimental syntax"
`update` does not work with the new Experimental syntax, even though it probably should!

Unfortunately, support for fancier `update`s differs across backends. [MySQL](https://dev.mysql.com/doc/refman/8.0/en/update.html) and [Postgresql](https://www.postgresql.org/docs/9.3/sql-update.html) differ, and [SQLite](https://www.sqlite.org/lang_update.html) appears to mirror Postgres.

As an example, MyS

[2021-05-13 15:48] belevy commented on #251
This is something I was playing around with at the end of last year. It honestly is probably best to just only support ANSI SQL updates in the main module and all the individual modules can support their own version of update that allows JOINs

[2021-05-20 12:57] hdgarrood commented on #234
:+1: I've also used this technique and it's really handy to enable the compiler to detect and warn about missing cases in your SQL CASE expressions.

[2021-05-20 16:13] parsonsmatt opened #253 "`GROUP BY` is missing commas for a composite primary key"
Offending code:

[code]

The `match (SomeValue (ECompositeKey f)) = (mconcat $ f info, mempty)` appears to be the problem. Need something to intersperse commans in there.

[2021-05-20 16:23] parsonsmatt opened #254 "Refactor test suite"
Currently `Common.Test` is a massive, 2500 line module that contains all the common tests.

It would be much nicer if it were split up into multiple modules that are scoped by feature.

[2021-05-21 01:22] belevy commented on #247
looks like Matt's incomplete implementation also missed the fact that the fuction will need to take a `SqlExpr (Entity rec)` to extract the existing field from. That said, I cant imagine the use of this theoretical `filterToWhere` would be worth the complexity and confusion it would create. Perhaps you could explain what it is that you are trying to achieve with this kind of functionality.

[2021-05-21 02:22] ranjitjhala commented on #247
Hi all,

Our use case was that we had a bunch of infrastructure set up for writing filters and wanted to reuse those in (restricted) joins using esqueleto.

in the end I went with a recursive traversal of the kind @matt suggested

https://github.com/storm-framework/storm/blob/main/src/Storm/Actions.hs#L273

Thanks!

Ranjit.

[2021-05-21 02:22] #247 closed

[2021-05-26 14:47] 3kyro opened #256 "Add pgcrypto functions"
Hi, I have a local implementation of the following functions from the [pgcrypto](https://www.postgresql.org/docs/8.3/pgcrypto.html) module:

[code]
Usage with a contrived example would be:

[code]
I was wondering if they can be included in *esqueleto* - in the PostgreSQL module - or it's better of to create an external library.

If inclusion to *esqueleto* is OK I'd happily submit a PR

[2021-05-26 15:01] 3kyro commented on #256
Actually going through #228, I'll wait for it to drop since I am pattern matching against the ``SqlExpr`` constructors.

[2021-05-26 16:06] ibarrae opened #257 "Add `selectFirst` Esqueleto variant"
`esqueleto` re-exports the function [selectFirst](https://hackage.haskell.org/package/persistent-2.13.0.2/docs/Database-Persist-Class-PersistQuery.html#v:selectFirst) from `persistent` at the moment, I was wondering if a new function with similar functionality could be introduced. I've seen scenarios in which we only want 1 result or nothing from different queries. Probably doing something similar

[2021-05-26 16:27] parsonsmatt commented on #257
Yeah! The code would look like: `selectFirst query = fmap listToMaybe $ select $ limit 1 >> query`  or something similar, but that is totally doable.

Maybe worthwhile to do in the 3.5 switchover.

[2021-05-26 17:19] ibarrae commented on #257
Great, thanks for the quick reply @parsonsmatt, I'll wait for `3.5` to be merged and probably will work on those changes :tada:

[2021-05-26 18:12] #241 closed

[2021-05-26 18:41] parsonsmatt opened #258 "Delete deprecated modules"
Database.Esqueleto.{Internal,Sql}

[2021-05-26 20:27] #249 closed

[2021-05-26 20:27] #258 closed

[2021-05-27 17:49] parsonsmatt commented on #254
One annoyance is that you need to build the `Common.Test` module three times, once per each test suite, since we use file sharing instead of a more modular system.

An internal library might be nice here, but IIRC that's not supported by stack, so it's a non-starter.

A nicer option is probably just to have a single test suite.

[2021-05-27 18:44] parsonsmatt commented on #254
#261 consolidates the test suite, resulting in significant speed improvements.

The Postgres tests are *slow*. We really need a way of sharing a database pool across tests, rather than creating a connection, running migrations, and wiping the database for every single test.

Ideally, seeding the database with test values could also be done. Would be nice to use `before` and `after` to ensure that

[2021-05-28 21:33] parsonsmatt opened #263 "Interval support"
We should support postgres interval notation.

[2021-05-30 11:56] belevy commented on #253
Does this work correctly now? Can we close this issue?

[2021-05-30 11:57] belevy commented on #263
What does this look like? Would this be captured by a phantom type `Interval`?

[2021-05-30 11:59] belevy commented on #256
@3kyro sorry about the change causing rework on your side. Id be happy to see a PR for the crypto functions.

[2021-05-30 12:04] belevy commented on #242
This function isn't standardized across implementations so the function should go into the backend specific modules

[2021-05-31 02:28] parsonsmatt commented on #253
Oh, yeah - I fixed that for a prior PR and I think you said the changes you made also fixed it. There's a test now for it.

[2021-05-31 02:28] #253 closed

[2021-05-31 02:29] parsonsmatt commented on #263
`persistent-postgresql` has `PgInterval` type, so I think we'd just want some functions for building them from various numeric types. LIke `interval_ :: IntervalType -> SqlExpr (Value Int) -> SqlExpr (Value PgInterval)`, so you can write `interval_ Days (val 3)` or whatever

[2021-05-31 13:28] belevy commented on #263
How does one handle the "1 day" case if the number is a SqlExpr?

[2021-05-31 18:17] parsonsmatt opened #264 "a monad for sqlexpr"
thinking that it'd be nice to have a monad for SqlExpr to make it a bit easier and clearer how to write code with it

[code]

This makes it much easier to write raw SQL expressions. Taking the example from [the Finally Tagless blog post](https://www.foxhound.systems/blog/final-tagless/), we could write:

[code]

Needs some work to get the types to check but overall may be a nice UX improvement

[2021-05-31 18:32] belevy commented on #264
I believe (->) already admits MonadReader. Just uncurry the function. tell would need to be manually lifted using const. I however don't feel that the code this leads to is particularly clear. Is there something I'm missing?

[2021-06-01 08:26] 3kyro commented on #256
@belevy No problem at all. Thanks for the confirmation, I'll submit a PR for this shortly

[2021-06-09 12:01] ivanbakel opened #267 "`SqlSelect` instances for `a :& b`"
Should `a :& b` have a `SqlSelect` instance, based on that of `(a, b)`? This has come up for me when using the experimental API, since I do something like
[code]
In the above example, where the `from` is a join, `rec` becomes `a :& b`, but since Esqueleto expects you to split the `:&` and return `(a, b)` instead, there's no appropriate instance for running the `select`.

The instance could look so

[2021-06-10 19:20] belevy commented on #267
There is no reason for the instance to not exist. It would tend to encourage very large anonymous tuples but i can definitely see advantages. @parsonsmatt thoughts?

[2021-06-10 19:21] parsonsmatt commented on #267
Hey, anything that means we use less `(,)` tuples is good by me!

[2021-06-17 19:17] #257 closed

[2021-06-23 17:03] #267 closed

[2021-06-28 23:19] parsonsmatt opened #269 "TypeError instance for Tuple"
A coworker had a bug where they wrote:

[code]

The error was pretty gnarly.

[code]

If we had a type error instance with `ToInnerJoin a b c (d, e)` then we may be able to provide a better error mesage.

[2021-06-28 23:23] belevy commented on #269
Probably don't want that at the ToInnerJoin level but rather at the ToFrom level no? Also the lower case version probably has a better error.

[2021-06-30 13:05] arthurxavierx commented on #165
The approach used in [`rel8`](https://hackage.haskell.org/package/rel8) looks quite promising for this: https://hackage.haskell.org/package/rel8-1.0.0.1/docs/src/Rel8.Schema.Null.html#Sql

[2021-06-30 13:08] arthurxavierx opened #270 "'SqlExpr' can be unsafely coerced using the safe 'coerce' function"
It's now possible to write
[code]
which could cause unexpected runtime errors.

[2021-06-30 14:17] belevy commented on #270
Is there a way to prevent this outside of the library code? This is a feature in the internal code, we get free coercion.

Basically coerce is not part of our contract so if someone makes a runtime error using it I don't really care.

[2021-06-30 16:44] parsonsmatt commented on #270
Hm.

We could have:

[code]

`unsafeCoerce` is *safe* in this sense, since we're explicitly blocking the normal `coerce` behavior that would otherwise be used. Clients of the library need to write the scary name. And we can still use it internally. Is this an acceptable compromise?

[2021-06-30 16:51] belevy commented on #270
that seems fine, we should probably be using `veryUnsafeCoerceSqlExpr` everywhere anyways though I think we lose the `fmap (f . coerce) == coerce . fmap f` rewrite rule

[2021-06-30 17:01] parsonsmatt commented on #270
I think an `INLINE` pragma on `veryUnsafeCoerceSqlExpr` would work to get the rewrites firing again

[2021-06-30 18:32] arthurxavierx opened #271 "Add a constructor for null values to the 'ToMaybe' type class"
I think it'd be great if `just` and `nothing` worked for any `ToMaybe a => a`. We already have `just ≡ toMaybe @(SqlExpr (Value a))`, but no analogous for `nothing` exists in `ToMaybe`. This enhanced version of `ToMaybe` would enable us to inject null entities for example.

[2021-06-30 18:33] arthurxavierx commented on #271
Having an eliminator in `ToMaybe` akin to Haskell's `maybe` would be interesting too, but is it possible to have that for any `SqlExpr (Entity e)`?

[2021-07-08 16:01] cdparks opened #272 "esqueleto-3.5.0.0 generates malformed SQL when notIn is passed an empty list"
An `notIn` expression using the legacy API:

[code]

or the experimental API:

[code]

will generate a malformed SQL query when passed an empty list:

[code]

=>

[code]

Apparently Postgres (I'm using 10.14) doesn't like `x NOT IN ()`. Sqlite seems to accept this syntax.

It looks to me like `esqueleto` [protects against passing an empty list](https://github.com/bitemyapp/esqueleto/blob/3a12a15d0

[2021-07-09 00:31] belevy commented on #272
#273 fixes the issue

[2021-07-09 00:31] #272 closed

[2021-07-15 06:04] jezen opened #274 "Union query fails when table contains JSON field"
## Version

Using `esqueleto-3.4.2.0`

## Persistent entity definition

[code]

## Instances for persisting that `PageList` type

[code]

## Table description in psql

[code]

## My union query

[code]

## The runtime failure

[code]

[2021-07-15 06:30] jezen commented on #274
As it turns out, this is not an issue with Esqueleto, and is instead just because PostgreSQL doesn't know how to compare `json` fields. Allowing duplicate results with `unionAll_` works around this.

Given this is a non-issue, I will close this.

[2021-07-15 06:30] #274 closed

[2021-07-27 19:27] parthshah31 opened #275 "Unsafe Sql for Generate Time Series"
Looking to write the following SQL query in esqueleto:
[code]

Curious how to do the `generate_series` in a composable way. Most the unsafeSql examples only have a single `SELECT` statement. Here the complexity is on the `FROM` side. Ideas?

I have a `date_trunc` function I've written as part of a larger extensions library: https://github.com/polimorphic/esqueleto-extensions/blob/main/src/Database

[2021-07-27 19:47] parsonsmatt commented on #275
I feel like you can do this using the Experimental syntax:

[code]

[2021-07-27 20:55] parthshah31 commented on #275
Awesome will try that out! Re: `Interval` type did this https://github.com/bitemyapp/esqueleto/issues/263 ever get resolved? Or should I just use an unsafeSqlValue there? I figure a `(SqlString a) => .... -> SqlExpr (Value a) -> ...` will not work since it needs the `:: interval` when you write the query in SQL

[2021-07-29 14:35] parthshah31 commented on #275
This worked! Added implementation to extensions library here for component use: https://github.com/polimorphic/esqueleto-extensions/blob/main/src/Database/Esqueleto/Datetime.hs

[2021-07-29 14:35] #275 closed

[2021-07-29 23:29] brandonchinn178 opened #276 "Export SqlSelect in public module?"
If someone needs to write a wrapper around `select`, they would need to use the `SqlSelect` constraint. Currently, that class is only exported in an internal module `Database.Esqueleto.Internal.Internal`, which was moved from `Database.Esqueleto.Internal.Sql` in 3.5.0.0. It would be great to export this in a public module like `Database.Esqueleto` so that authors can have a consistent location to

[2021-08-04 10:47] NikitaRazmakhnin opened #277 "`distinctOnOrderBy` generates bad sql with nested exprs"
We noticed that when we use some nested expression with `distinctOnOrderBy` like `coalesce` generates bad sql in the beginning of a query:

[code]
gives something like that
[code]
So it omits second substitution-part of `COALESCE` expression for some reasons but the value expression itself works perfectly in `ORDER BY` part. So it behaves badly only in `DISTINCT ON (..)` clause.

Rewriting it into

[2021-08-26 21:40] parsonsmatt opened #280 "Yet Another From Idea, Destroy the Writer"
We can write `innerJoin` relatively easily:

[code]

Well, okay, it's a `CROSS JOIN` with a `WHERE`. Usage looks nice.

[code]

With a bigass query, and lots of tables, the `on` lambda becomes a bit cumbersome. Factoring this out helps a lot.

But...

Well, it's a hack - it only works because `FROM a, b WHERE a.id = b.a` is equivalent to `FROM a INNER JOIN b ON a.id = b.a`. We can't do left joins,

[2021-09-10 16:09] belevy opened #282 "Improve JSON support in Esqueleto.Postgresql"
As a user I would like to be able to extract JSON values from a query. This would be useful for faking `multiset` support similar to jOOQ.

### Proposed Additions

- Add a new `JsonValue` newtype wrapper with a SqlSelect based on JSON parsing
- Add support for `to_json` on `SqlExpr (Value a)` and `SqlExpr (Entity a)` and tuples (up to 8?)
  - `Value a` is trivially implemented using the built in `

[2021-09-13 20:13] codygman commented on #263
I had a need for this today in:

[code]

[2021-09-21 09:53] 3kyro commented on #256
I'm closing this issue as there was no agreement on the proposed API.

[2021-09-21 09:53] #256 closed

[2021-09-22 07:57] #277 closed

[2021-09-22 23:47] parsonsmatt opened #286 "distinctOn"
`distinctOn` is a bit weird.

[code]

It might as well just be `distinctOn :: [SqlExpr DistinctOn] -> SqlQuery ()`.

Also, the docs indicate it only works on Postgres.

I propose we deprecate the term, and move the `SqlQuery ()` variant into `Database.Esqueleto.Postgres`.

[2021-09-23 00:03] parsonsmatt opened #288 "Delete deprecated terms"
Will be nice to clear out some deprecations. We're on 3.5.2.2, which means that everything (aside from #286) has been deprecated for at least a whole major version now. Stackage LTS is on 3.5.2.2, so we're probably fine to delete them all.

[2021-09-26 17:09] belevy commented on #263
responding to my earlier question we would always use the singular form and then multiply so
`interval_ Days (val 3)` would become `("? * interval '1 day'", [PersistInt64 3])`

[2021-09-27 16:27] parsonsmatt opened #289 "`IdentInfo` shouldn't require a `SqlBackend`"
Currently, `IdentInfo` carries an entire `SqlBackend`. It can't possibly use most of it. Instead, let's ask for what we actually want - the escaping function. This would reduce the "dummy" functions.

[2021-09-27 16:36] belevy commented on #289
💯

[2021-09-28 16:08] m4dc4p opened #290 "Missing Instances for `:&` - bug or feature?"
In writing some queries, I've found a need for `ToAlias`/`ToAliasReference`/`SqlSelect` instances for the `:&` type. There are already instances of those classes for `(,)`, `(,,)`, and so on, and `:&` doesn't really seem any different.

Is this an oversight or is there some reason those instances aren't defined for `:&`?

Thanks!

(I'm using 3.4.2.1 so please let me know if I just need to upgrade)

[2021-09-28 16:17] parsonsmatt commented on #290
Definitely a bug/oversight if we're supporting `(,,)` in places but not `:&`

There's a `SqlSelect` instance in a new version

[2021-09-28 16:26] m4dc4p commented on #290
Much appreciated!

[2021-09-28 16:41] parsonsmatt commented on #290
We should still implement `ToAlias` and `ToAliasReference`, I think :)

[2021-09-28 20:04] m4dc4p commented on #290
My PR is up but needs approval to run CI on it.

[2021-09-30 17:43] m4dc4p commented on #290
Thanks for accepting this one!

[2021-09-30 17:43] #290 closed

[2021-11-01 15:19] kderme opened #293 "Queries caching"
I have a query like this
[code]
whichs runs many times (up to 2 millions in a relatively small time window) with different input.

Profiling shows that `toRawSql` takes a considerable amount of time. Combined with `builderToText` they seem to cost more than the actual execution of the query in `rawQueryRes`.

Is it possible to somehow cache the sql query text and reuse it with different `[PersistV

[2021-11-01 16:28] parsonsmatt commented on #293
Huh, that's intriguing.

`esqueleto` probably can't reasonably cache queries. But, you can definitely do this on your end with `renderQuerySelect`. That emits a `(Text, [PersistValue]`) that should work with your database connection. Then substitute the `[PersistValue]` for whatever you need, and call `rawSql` from `persistent` to get the results out. This won't work with `Entity`s though - you'd

[2021-11-01 17:13] belevy commented on #293
As Matt said we can't really handle this on the esqueleto side since `SqlQuery` is a monad and therefore supports `when` which means that arbitrary values can cause different queries to run.

Something you might also want to consider is using a prepared statement if your backend supports it. It is interesting to see the actual query generation being a cost center, that is something I would have ex

[2021-11-02 19:34] belevy commented on #293
Tried coming up with a benchmark to see what the difference between the two is. I ran with 1, 2, and 3 joins using the old and new from syntax (no where clause) in an attempt to see performance difference.

![image](https://user-images.githubusercontent.com/5116891/139940063-3f7f1060-efae-45ef-81e9-af203a0326a0.png)

@kderme Are you using only a single join in your actual query? The new syntax is

[2021-11-03 00:57] kderme commented on #293
I think I misinterpreted the results of profiling and the actual cost is lower than what I described. Probably I was getting an extreme case of what's described in https://github.com/mpickering/hs-speedscope/issues/6. So around 15% of time was spent in `toRawSql`, but this doesn't account for the total ecexution time as I had assumed.

mostly `makeFrom`, which I think is the part where the Join is

[2021-11-03 01:09] belevy commented on #293
Yes, both can live in the same query (just need to namespace the `from` and `on` functions) and the entire `collectOnClauses` portion will go away. As you can see from my very unscientific benchmark the new syntax is about 100% faster in the single join case and only grows linearly in the number of joins.

[2021-11-04 22:26] belevy commented on #293
Closing since there is nothing to change. Performance of query generation appears to be on the order of 10 microseconds.

[2021-11-04 22:26] #293 closed

[2021-11-19 09:10] tim2CF opened #294 "Database.Esqueleto.PostgreSQL.upsertBy syntax error in generated SQL"
Error was found in esqueleto 3.5.3 from hackage. To reproduce, you need to apply expression similar to

[code]

And then error will look like

[code]

Expected behaviour - atomic insert in case where Unique key was not used yet, and ignore (no update) in case Unique key has been already used.

There is a workaround to avoid such error and get expected behaviour - you need to do redundant update of

[2021-11-22 00:36] belevy commented on #294
This seems like it should be doable, looks like `persistUniqueToFieldNames` and `persistUniqueToValues` should allow for us to generate a default where clause. I am not particularly familiar with the expected behavior here though. Is there ever a reason the where clause should be anything other than matching the `Unique rec` value?

[2021-12-09 16:48] codygman commented on #239
We have code working with `COUNT (DISTINCT (ROW(a,b)))`, so maybe this changed at some point?

I was looking through issues because I was trying to migrate this query to esqueleto and came across this. Maybe `countHelper` is what I need...

[2021-12-10 17:14] parsonsmatt opened #295 "`==.` and `/=.` should use `IS NULL` if possible?"
It's a bit of a footgun to write `table ^. SomeField ==. val Nothing`, since this expression is always equivalent to `NULL` in SQL due to trivalued logic.

We could instead check (somehow) if we're doing a comparison to a `Nothing` and change the expression to `IS NULL` or `IS NOT NULL`.

[2021-12-10 17:47] belevy commented on #295
``` (==.) :: PersistField typ => SqlExpr (Value typ) -> SqlExpr (Value typ) -> SqlExpr (Value Bool)                                                                                                                  (==.) v1 v2 =

[2021-12-10 17:48] parsonsmatt commented on #295
:joy: I was going to make this a beginner-friendly ticket and coach/guide folks through it! But that's fine too 😄

[2021-12-10 17:52] belevy commented on #295
whoops

[2021-12-22 17:48] MaxGabriel opened #297 "Makefile outdated?"
The makefile has commands for per-backend testing, e.g.

[code]

But if you actually run

[code]

You get:

[code]

I'm guessing this is an old way of running the tests. I'm not sure if running single database backend is actually possible anymore? I might just be not finding where that's configured though

[2022-02-18 19:59] parsonsmatt opened #298 "`toBaseIdMaybe`"
`toBaseId :: ToBaseId ent => SqlExpr (Value (Key ent)) -> SqlExpr (Value (Key (BaseEnt ent)))` prevents us from using `Maybe` keys.

[code]

straightforward to add

[2022-02-23 17:47] parsonsmatt opened #299 "Ambiguous column reference when using union result in subquery/CTE with persistent-postgresql"
@mauriciofierrom posted [this issue in `persistent`](https://github.com/yesodweb/persistent/issues/1363), but I think it belongs here.

Copying:

[2022-02-23 17:47] parsonsmatt commented on #299
@mauriciofierrom can you post the generated SQL from `sqlite` and `postgresql`?

[2022-02-23 17:50] mauriciofierrom commented on #299
@parsonsmatt sorry for the confusion! I'll add the generated SQL to the description. Thanks for copying it!

[2022-02-23 19:10] parsonsmatt commented on #299
Ok, cool, so it's the same generated SQL, but `sqlite` is more permissive about what it is accepting.

Hmm! This is interesting. I'm guessing the thing-to-do here is in the call to `union_` to grab the `IdentState` and ensure that the second query carries on from the end of the first query. This happens in `Database.Esqueleto.Experimental.From.SqlSetOperation`:

[code]

I suspect this last bit of

[2022-02-23 19:14] belevy commented on #299
I think I explicitly wanted it to repeat. Just remove the call to get/put and it shouldnt repeat.

[2022-02-23 19:15] belevy commented on #299
That said, this is a different code path. You are looking at union in general rather than the recursive CTE path.

[2022-02-23 19:18] belevy commented on #299
Actually nevermind I misread the query. Carry on.

[2022-02-23 19:20] belevy commented on #299
So the issue appears to be selecting from a subquery that returns an aliased value isn't re-aliasing it to ensure consistent naming.

[2022-03-05 14:46] gromakovsky opened #300 "Incorrect SQL query generated for PostgreSQL.upsert"
I tried using [upsert](https://hackage.haskell.org/package/esqueleto-3.5.3.0/docs/Database-Esqueleto-PostgreSQL.html#v:upsert) function trying to produce `INSERT INTO ... VALUES ... ON CONFLICT DO NOTHING`. I passed an empty list of updates and got:

I looked at logs and noticed that the following SQL statement is generated:

As far as I understand, it is invalid because there is nothing between S

[2022-03-05 20:31] parsonsmatt commented on #300
Hm. This is really a `persistent-postgresql` problem, since we call `upsertSql` on the `SqlBackend` given by `persistent-postgresql`, which does not check for an `updateSql` of `""`.

I think I can work up a patch for this. Going to check for an empty list of updates, and if so, we'll do a tet replace of `DO UPDATE SET WHERE` to `DO NOTHING WHERE`.

[2022-03-05 20:43] parsonsmatt commented on #300
Oh, that won't work. We can't do a `WHERE` if it's a `DO NOTHING` lol. Even easier.

[2022-03-06 06:45] gromakovsky commented on #300
@parsonsmatt oh, thanks for such a quick fix 😊
I have tested it in my code and can confirm that it works as expected now (at least in my case) 👍

[2022-03-07 00:02] parsonsmatt commented on #300
The code in my PR will break if nothing is inserted. I'd recommend using something else

[2022-03-10 13:50] EggBaconAndSpam opened #302 "Safely coercing newtype'd Values"
Hi all!

I'm struggling with using Esqueleto in the presence of an abundance of newtype wrappers, where the only way out is to use `veryUnsafeCoerceSqlExprValue` from `Database.Esqueleto.Internal.Internal` (which is both ugly and indeed potentially unsafe).

I therefore propose:
[code]
which would complement the existing
[code]

Does anyone see a reason why lifting the coercibility of newtypes to

[2022-03-10 13:55] EggBaconAndSpam commented on #302
Now that I've written this I realise that just because two types may have the same runtime representation in Haskell doesn't mean that they share the same SQL representation. So this really wouldn't be much safer than just coercing arbitrary types 😞

[2022-03-10 14:00] dnikolovv commented on #302
@EggBaconAndSpam  You do have access to the sql representation through `PersistFieldSql` though.

[2022-03-10 14:16] dnikolovv commented on #302
@parsonsmatt That seems like a decent solution.

The problem originated when we were trying to write an `on` clause similar to this:

[code]

[2022-03-10 14:19] parsonsmatt commented on #302
Oh, yeah, a `AsSqlUUID` class is what I'd write for that, probably

If those are `persistent` `Key` types, then you can use the `ToBaseId` class

[2022-03-10 14:22] dnikolovv commented on #302
:bow:

[2022-03-10 14:24] #302 closed

[2022-03-23 13:44] parsonsmatt opened #305 "Remove `Coercible a b => Coercible (SqlExpr a) (SqlExpr b)` instance"
This is a mighty foot gun and we should remove it.

We can do this with a role annotation on `SqlExpr`.

[2022-03-23 14:01] parsonsmatt opened #306 "Improved Postgres Update"
This is going to be a mega issue that documents improving `update` for `Postgresql` specifically.

Related issues:

- [ ] #251 `update` doesn't work with experimental syntax
- [ ] #204 Add a `WHERE` to `insertSelectOnConflict`
- [ ] #44 Support `update ... returning`

# Postgres Docs

[These are the Postgres docs for `update`](https://www.postgresql.org/docs/current/sql-update.html). Copying the s

[2022-03-25 16:28] SJost opened #307 "Example 2: leftJoin is missing a call to just"
_Small problem within the documentation:_ Example 2 in Module `Database.Esqueleto` and `Database.Esqueleto.Experimental` is missing a call to `just (`...`)` in two places, since the example shows a `leftJoin` and not an `innerJoin`, hence the left-hand side of the `on` must be wrapped with `just`. Here is my suggestion for the corrected code:
[code]
and also the suggested fix for the new syntax
[c

[2022-04-08 20:42] parsonsmatt opened #311 "`SqlSelect` instance for non-`Entity` records"
It kinda sucks that we get nice syntax support for `Entity record` but for anything else we're stuck with tuples of values.

Some ideas:

# Higher Kinded Data

I'm not a fan of HKD, but it does work for this alright.

[code]

With a bit of `TemplateHaskell` the instances are relatively easy to generate.

I recall having some *super* bad type error messages with this, particularly if `f` got inferr

[2022-04-12 16:45] pbrisbin opened #313 ""Couldn't match type" on GHC 9.0 when using (.), works with ($)"
This is not a bug, as far as I can tell. But I wanted to make you aware:

[code]

On GHC-9.0 (the current LTS), this fails with a *very confusing* error:

[code]

(The `SqlPersistT` vs `SqlReadT` is a red-herring, the `m0` is the problem.)

On GHC-9.2, you can enable `ImpredicativeTypes` to fix it. But on GHC 9.0, you have to do this:

[code]

I'm also discussing this phenomena in a [GHC Issue](ht

[2022-04-12 21:04] parsonsmatt commented on #313
Oh, yeah, thats Simplified Subsumption, here to ruin your expectations for how eta reduction "just works" in Haskell.

Probably going to drop the `SqlReadT` type in `persistent` upstream because of it.

[2022-04-13 14:59] parsonsmatt opened #314 "`val` may not round trip for an obvious `PersistField` instance"
We have this instance at work:

[code]

This fails to round-trip if you do a `select $ pure $ val uuid` - it fails, because we were given a `PersistText` instead of a `PersistLiteralEscaped`.

The logic, as far as I can tell, is something like:

1. We splice in `val uuid`, which turns into `( "?", toPersistValue uuid)` to `("?", PersistLiteralEscaped uuid)`
2. After parameter substitution, `postgr

[2022-05-03 14:55] friedbrice commented on #229
Naw. The aggregating functions return a `SqlExpr (AggregateValue a)` (and that's the only way to construct an `AggregateValue`), and there's a function `unAgg :: SqlExpr (AggregateValue a) -> SqlExpr (Value a)`. Apply `unAgg` to things so that you can use them in `where_` clauses.

[2022-05-03 15:27] parsonsmatt commented on #229
I believe you can put a predicate on an OVER with HAVING

[2022-05-28 20:15] lfborjas commented on #229
I ran into a neat use case for a predicate on _aggregates_ as window functions, as [permitted by Postgres at least](https://www.postgresql.org/docs/current/sql-expressions.html#SYNTAX-WINDOW-FUNCTIONS); only works for aggregates (not other window functions like `lag`, `rank`, etc.) but will constrain the window to only rows that satisfy the `filter`; not sure if this addresses what Daniel was ment

[2022-06-02 20:34] parsonsmatt opened #319 "Warning on `LockingKind`"
Coming from #316

We've added a special Postgres-only `LockingKind` constructor in that branch. In order to make the interface safe, we'll want to put a `WARNING` pragma on `LockingKind` that it will not be part of the public API anymore, and instead we'll direct folks to using named functions that implement what they want.

[2022-06-07 23:17] parsonsmatt opened #321 "No Fixity for `?.`"
There's no fixity declaration apparently for `?.`, so `ormolu` and `fourmolu` format things weird. Also we should have a fixity declaration for it.

Technically a breaking change

[2022-06-14 12:45] amxyz-cyber opened #322 "`Like`-operator didn't work in a mysql project"
Hi,
I adapted the yesod webapp **espial** to a mysql database. And when I performed the following sql query in Esqueleto, it returned no search results:

[code]
However, the same query worked in **Mysql Workbench**. Also, the original code from espial didn't work either. Only when I created an unsafe function emulating the **match against function** from Mysql, did I get the desired search results

[2022-06-14 13:35] belevy commented on #322
Your best bet is to `renderSelectQuery` to see what is actually being generated by esqueleto and how that is different from what you expected. The query you have provided has a lot going on as it is, if you can provide a minimal example showing that LIKE clauses are being generated incorrectly then we can do something.

[2022-07-15 19:27] #322 closed

[2022-08-06 03:17] mjrussell commented on #313
Im trying to better understand the options available here after running into a similar issue after upgraded to 9.2 and using 3.5.6.1 of esueleto.

It seems like the GHC issue and @pbrisbin were able to work around this with `ImpredicativeTypes` but I've got examples in our codebase where that doesnt work when defining a type alias that uses `SqlReadT` / `SqlWriteT`. Is there a way to get things wo

[2022-08-07 22:23] parsonsmatt commented on #313
Yeah, if you jump directly to 9.2.4 and enable `DeepSubsumption` then you'll be fine

[2022-08-16 21:15] lf- opened #330 "Generate ARRAY[..] for PostgreSQL"
I would like to generate a value `ARRAY[1, 2]` in an esqueleto query.

There is `mkTextArray` in the internals of JSON.hs, but otherwise not really anything that I can find.

cc @parsonsmatt

[2022-08-17 15:24] lf- commented on #330
hm, `val [a, b, c]`, but that's for literals only (i think?). I would like to use it for columns

[2022-08-22 20:20] dsh commented on #299
When I hit this bug removing the union eliminated the ambiguous column error, so I think the union probably is required.

[2022-08-23 17:31] #299 closed

[2022-09-13 08:56] tysonzero opened #337 "PostgreSQL array functions support"
I was looking to use `array_position` so that I could query based on a list of keys and return the first/last match in that list, but it seems like all the stuff in https://www.postgresql.org/docs/current/functions-array.html would be useful to define in the PostgreSQL module.

[2022-09-27 17:38] matthewbauer commented on #295
You probably meant `!=.` instead of `/=.`.

[2022-10-03 11:59] Vlix opened #338 "use `decodeUtf8'` in JSONB's PersistField instance"
[code]
could probably be
[code]

[2022-10-26 22:29] tysonzero opened #340 "Can `ReaderT` usage be replaced with `MonadReader`"
We are having to `lift` fairly often in our codebase when calling `select` and similar due to using db code alongside other useful monad transformers.

IIRC someone mentioned in the past that it was too unfriendly to type inference. However I'm not sure that is still the case given the switch to concrete types instead of the tagless final stuff.

[2022-10-26 22:35] parsonsmatt commented on #340
Yeah, should be - I'd imagine you can write:

[code]

and that ought to work fine.

[2022-10-27 16:33] belevy commented on #340
Feel free to lift this in your own prelude but I do not think this is a good addition to the library.

[2022-10-27 16:33] belevy commented on #337
Contributions are welcome

[2022-10-27 21:57] tysonzero commented on #340
@belevy Is there any particular reason for preferring `ReaderT` over `MonadReader`?

Behind the scenes it literally does:

[code]

Why the preference for that over:

[code]

The only difference is the import, and you get much nicer ergonomics when interoperating with other transformers.

[2022-10-27 22:18] belevy commented on #340
ReaderT is used consistently in persistent and would prefer to remain consistent. I personally have never felt this pain that you are feeling and am not convinced it's universally better. @parsonsmatt may have different feelings.

[2022-10-27 22:57] tysonzero commented on #340
To be clear this proposal would in the long run ideally be a full on `ReaderT`-ectomy, replacing just about all uses of `Control.Monad.Trans.Reader.ask` with `Control.Monad.Reader.ask`.

I'm not aware of any non-trivial downsides, assuming I am correct in my assumption of inference not being meaningfully affected.

[2022-11-10 22:28] rjmholt commented on #282
Given https://github.com/bitemyapp/esqueleto/pull/284, it might be worth closing this issue as resolved

[2022-11-10 22:57] rjmholt opened #343 "Database.Esqueleto.PostgreSQL.values does not perform necessary type coercion at runtime"
If I define a simple enum type in PostgreSQL like this:

[code]

And then give it the appropriate matching Haskell implementation (plus all the other stuff which is less material):

[code]

I can do something like join on values of that enum (like in this silly example):

[code]

When I run this though, I get an error message something like this (paraphrased from the real error):

[code]

Looking

[2022-11-11 02:29] parsonsmatt commented on #343
We'd need to add a `PersistFieldSql` constraint into the `SomeValue` constructor but that *should* be fine

[2022-11-15 00:32] evanrelf opened #344 "`deriveEsqueletoRecord` should generate a `ToMaybe` instance"
For example, if I have this data type:

[code]

If I invoke [`deriveEsqueletoRecord`](https://hackage.haskell.org/package/esqueleto-3.5.8.1/docs/Database-Esqueleto-Record.html#v:deriveEsqueletoRecord), I'll get a new `SqlPerson` data type, but it's missing a `ToMaybe` instance, which seems to be necessary for using the type in left joins.

[2022-11-15 18:33] joelmccracken opened #345 "Support [NOT] MATERIALIZED keyword for WITH queries/CTEs"
As mentioned in the esquelto docs (https://hackage.haskell.org/package/esqueleto-3.5.8.1/docs/Database-Esqueleto-Experimental-From-CommonTableExpression.html), postgres (>12) supports keywords which specifies that CTEs should be fully calculated/materialized. For us, this is a must for performance reasons.

It would be great if there was some way to do this in esquelto, so that we could use it eve

[2022-11-29 01:21] belevy commented on #282
Not sure what #284 has to do with this issue? #283 is the PR associated with this issud

[2022-11-29 01:25] belevy commented on #345
Is there a reason to use a cte if you don't need the materialization? Can you not just use a Haskell variable for the subquery?

[2022-11-29 01:27] belevy commented on #345
Sorry I misunderstood the question. Yes postgres module could have a with that specifies materialized